mixin sReallyImportant(data)
	// start sReallyImportant
	+b.SECTION.sReallyImportant.section#sReallyImportant&attributes(attributes)
		.container
			+b.section-title
				p Главные нюансы обучения, на которые стоит обратить внимание.
				h2 А вот это действительно важно!
			mixin item(i,p)
				+e.item
					.row
						.col-sm-auto
							+e.img-wrap.mb-2
								+img(`img/svg/sReallyImportant-${i}.svg`)
						.col!= p 
			+item(1,`<strong>Нет индикаторам.</strong> Главный навык, который&nbsp;Вы получите&nbsp;&mdash; понимание рынка и&nbsp;рыночных движений. Для этого нужен только свечной график и&nbsp;объемы. Никаких индикаторов в&nbsp;работе и&nbsp;обучении не&nbsp;будет.`)

			+item(2,`<strong>Практика вместо голой теории.</strong> Получите выжимку из&nbsp;многолетнего практического опыта профессионального трейдера. Только&nbsp;то, что работает и&nbsp;приносит деньги. Только&nbsp;то, что позволит Вам зарабатывать всегда`)

			+item(3,`<strong>Домашние задания.</strong> Отрабатывайте на&nbsp;практике каждый шаг обучения, закрепляйте его в&nbsp;качестве навыка и&nbsp;получайте обратную связь от&nbsp;эксперта`)

			+item(4,`<strong>Практичность и&nbsp;непредвзятость.</strong> Получите голую правду про настоящий профессиональный трейдинг, которая усилит Ваше понимание сути работы на&nbsp;финансовых рынках`)
			
			+item(5,`<strong>Лайфхаки вместо Грааля.</strong> Грааля в&nbsp;трейдинг не&nbsp;существует. Зато Вы&nbsp;можете получить самые ценные лайфхаки и&nbsp;секреты прибыльной торговли из&nbsp;мира профессионального трейдинга, которые помогут Вам удержаться на&nbsp;рынке`)
			+b.section-footer
				.h5 Жмите на кнопку, чтобы прямо сейчас войти в мир профессионального трейдинга вместе с Яной Мусийко
				+e.btn(href="#sAccess") Войти в мир профессионального трейдинга
	// end sReallyImportant