mixin sTariffs()
	// start sTariffs
	+b.SECTION.sTariffs.section#sTariffs&attributes(attributes)
		block
		+e.head
			+e.head-inner
				.container  
					h1 Павел Крёз и Инфо-ДВД  Пассивный доход в РФ. Дивиденды
					p Выберите удобный пакет участия в тренинге
					+img("img/head-img.png").d-none.d-xl-block
		+e.body
			.container
				+e.table-wrap
					table()
						thead
							tr 
								th
								th Эконом
								th Мастер-3
								th Мастер-6
								th Мастер-12
								th VIP
						tbody
							mixin tr(...tr)
								tr
									each td in tr
										td
											if td.t
												!= td.t
											if td.p
												.small!= td.p
											if td.old
												+e.price-old!= td.old
											if td.new
												+e.price-new!= td.new
											if td.btn
												+e.btn(href="#")!= td.btn
							+tr(
									{t:`Вводный видеокурс «Как копить пассивный доход вместо того, чтобы копить деньги?»`},
									{t:`∞ →→`},
									{t:`∞ →→`},
									{t:`∞ →→`},
									{t:`∞ →→`},
									{t:`∞ →→`})
									
							+tr(
									{t:`Основная программа тренинга`},
									{t:`∞ →→`},
									{t:`∞ →→`},
									{t:`∞ →→`},
									{t:`∞ →→`},
									{t:`∞ →→`})
							+tr(
									{t:`6&nbsp;онлайн-занятий с&nbsp;практикой  на&nbsp;реальном рынке`},
									{t:`∞`, p: `С 23 мая 2022`},
									{t:`∞`, p: `С 23 мая 2022`},
									{t:`∞`, p: `С 23 мая 2022`},
									{t:`∞`, p: `С 23 мая 2022`},
									{t:`∞`, p: `С 23 мая 2022`})
							+tr(
									{t:`Доступ в&nbsp;мастер-группу Павла Крёза по&nbsp;дивидендным акциям`},
									{t:`-`},
									{t:`3 месяца доступа`,p: `С 6 июня 2022`},
									{t:`6 месяцев доступа`,p: `С 6 июня 2022`},
									{t:`1 год доступа`,p: `С 6 июня 2022`},
									{t:`1 год доступа`,p: `С 6 июня 2022`})
							+tr(
									{t:`Индивидуальные скайп-сессии с автором`},
									{t:`-`},
									{t:`-`},
									{t:`-`},
									{t:`-`},
									{t:`6 сессий`})
							+tr(
									{t:`Индивидуальная поддержка в скайпе от автора`},
									{t:`-`},
									{t:`-`},
									{t:`-`},
									{t:`-`},
									{t:`1 год`})
							+tr(
									{t:`Стоимость пакета`},
									{old:`33 000`},
									{old:`42 000`},
									{old:`47 000`},
									{old:`54 000`},
									{old:`140 000`})
							+tr(
									{t:`Ваша цена`,p:` Только сегодня, персональное предложение!`},
									{new:`22 000`},
									{new:`27 000`},
									{new:`30 000`},
									{new:`30 000`},
									{new:`120 000`})
							+tr(
									{p:`<strong> ∞ </strong> бессрочный доступ к материалам<br> <strong>  →→ </strong> моментальный доступ к материалам `},
									{btn:`Выбрать`},
									{btn:`Выбрать`},
									{btn:`Выбрать`},
									{btn:`Выбрать`},
									{btn:`Выбрать`})

							//- +tr(
							//- 		{t:`∞ →→`, p:``},
							//- 		)
							

				+e.timer-headline ПОЛУЧИТЕ ДОСТУП ПРЯМО СЕЙЧАС! 
				+e.inner
					+e.timer-row.row
						.col-lg
							+e.timer-txt ! Персональное предложение со скидкой обновляется каждые 24 часа. Скидка может сгореть при следующем обновлении, которое состоится через:
						+e.timer-col.col-lg-auto
							+e.timer-box.timer-box-js
								span.days 12
								span.hours 20
								span.minutes 20 
								span.seconds 20
					
	// end sTariffs


