.sTariffs {
	
	&__table-wrap{
		overflow-x: auto;
		margin-bottom: rem(50);
		position: relative;
	}

	table{
		min-width: rem(688);
		margin-bottom: 20px;
		.small{
			font-size: 12px;
			color: #565656;
			font-weight: normal;
			strong{
				display: inline-block;
				width: rem(30);
				text-align: center;
				margin-right: rem(10);
			}
		}
	}
	th{
		color: $primary;
		border-bottom: 4px solid ;
		font-size: rem(16);
		padding-top: 16px;
		padding-bottom: 16px;
	}
	td,
	th{
		&:nth-child(5) {
			background: #B0DEED;
		}
		&:not(:first-child){
			@include media-breakpoint-up(xl) {
				width: 164px;
			}
			
			@include media-breakpoint-up(lg) {
				width: 135px;
			}
			
			text-align: center;
		}
	}
	td:first-child{
		font-size: rem(16);
	}
	td{
		color: #1E1E1E;
		font-weight: 500;
		padding-top: rem(17);
		padding-bottom: rem(17);
		&:not(:first-child){
			font-size: 12px;
		}
	}
	tr{
		&:not(:last-child) 
		{
			border-bottom: 2px solid rgba($primary, .3);
			td{
			}
		}
		&:nth-last-child(2)  {
			border: none;
		}
	}
	
	@include media-breakpoint-down(lg) {
		table,
		thead,
		tbody,
		tbody,
		td,
		th
		{	display: block;

		}
		tr{
			display: flex;
			flex-wrap: wrap;
		}
		td,
		th{
			// flex-grow: 1;
			width: 20%;
			&:nth-child(1){
				width: 100%;
				text-align: center;
				text-align: center;
				padding: 5px;
			}

		}
		th{
			&:nth-child(1){
				display: none;
			}
		}
	}
	
	&__btn{
		@extend .btn, .btn-primary;
		font-size: rem(20);
		// width: 100%;
		padding: rem(8) rem(12);		
		// width: rem(125);

	}
	&__price-old{
		text-decoration-line: line-through; 
		color: #565656;
		font-weight: 800;
		// font-size: rem(20);
	}
	&__price-new{  
		font-weight: 800;
		font-size: rem(20);
	}

	//
	&__timer-headline{
		font-weight: bold;
		line-height: calc(50/40);
		margin-bottom: rem(21);
		color: $primary;
		font-size: rem(19px);
		@include media-breakpoint-up(sm){
			font-size: rem(40px);
		}
	}
	&__timer-txt{
		font-weight: bold;  
		font-size: rem(24);
		color: #1E1E1E;

		margin-bottom: rem(20);
		@include media-breakpoint-up(lg){
			margin-bottom: rem(0);
		}
	}
	&__timer-box{
		display: flex;

		padding-bottom: rem(50);
		@include media-breakpoint-up(lg){
			//padding-top: rem(45px);
			padding-bottom: 0;
			width: 100%;
			justify-content: flex-start;
		}
		span{
			position: relative;
			width: rem(104);
			height: rem(104);
			background: $white;
			border-radius: rem(10px);
			display: inline-flex;
			justify-content: center;
			align-items: center;

			//txt
			//font-family: $gotham-pro;
			font-size: rem(40);
			color: darken($primary, 15);
			line-height: rem(72px);
			text-align: center;

			//margin
			// &:first-child{
			// 	margin-right: rem(28);
			// }
			margin-right: rem(40);
			&:last-child{
				margin-right: 0;
			}

			//after =>  'дней'
			&:after{
				position: absolute;
				display: block;
				left: 0;
				top: 100%;
				width: 100%;

				text-align: center;
				//font-family: $gotham-pro;
				font-size: rem(12); 
				line-height: 1;
				color: $primary;
				margin-top: 1em;
			}
			&.days:after{
				content: 'дней';
			}
			&.hours:after{
				content: 'часов';
			}
			&.minutes:after{
				content: 'минут';
			}
			&.seconds:after{
				content: 'секунд';
			}
			//before => ':'

			&:before{
				content: ':';
				position: absolute;
				left: 100%;
				width: rem(40);
				text-align: center;
				top: 0;
				height: 100%;

				//
				display: flex;
				text-align: center;
				justify-content: center;
				align-items: center;

				//font-family: $gotham-pro;
				font-size: rem(40);
				color: #C4C4C4;
			}

		 &:last-child:before{
				content: none;
			}

		}
	}

	//timer-col
	&__timer-col{
		@include media-breakpoint-up(xxl){
			padding: 8px 0  0 27px;
		}
	}
	&__timer-col-txt{
		p:first-child{
			line-height: calc(20/16);
			margin-bottom: rem(18);
			font-weight: bold;
		}
		p{
			font-size: rem(16);
		}
		p:last-child{
			margin-bottom: rem(13);
			font-weight: 500;
			color: rgba($white, .7);
		}

	}
	&__inner{
		background: linear-gradient(332.05deg, rgba(199, 208, 234, 0.37) 19.87%, rgba(0, 117, 255, 0.04) 92.7%), #EFEFEF; 
		box-shadow: 0px 63px 73px -32px rgba(150, 195, 255, 0.36), 0px 94px 63px -51px rgba(0, 0, 0, 0.27);
		border-radius: 8px;
		@include media-breakpoint-up(md) {

			padding: rem(44) rem(70);
		}
		padding: 44px 20px;	
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {
		text-align: center;
		&__timer-box{
			justify-content: center;
		}
	}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sTariffs