mixin sReasons(data)
	// start sReasons
	+b.SECTION.sReasons.section#sReasons&attributes(attributes)
		.container
			p.section-subtitle А&nbsp;теперь внимательно
			+b.section-title
				h2 5&nbsp;причин прямо сейчас задуматься о&nbsp;дивидендных инвестициях в&nbsp;РФ:
			+e.list.row
				.col.col-5
					+e.img-wrap
						+img('img/reasons-hand.png')
				+e.col.col-7
					ul
						+e.item.row.LI
							+e.number.col-auto 1
							.col
								p Покупая акции российских компаний, Вы&nbsp;становитесь совладельцем их&nbsp;бизнеса и&nbsp;получаете часть их&nbsp;прибыли в&nbsp;виде дивидендов&nbsp;&mdash; реальный пассивный доход
						+e.item.row.LI
							+e.number.col-auto 2
							.col
								p Пассивный доход можно сформировать, инвестируя<br> небольшие суммы, постепенно собирая портфель компаний из&nbsp;разных отраслей
						+e.item.row.LI
							+e.number.col-auto 3
							.col
								p Дивидендные акции российских компаний сегодня<br> продаются на&nbsp;рынке в&nbsp;несколько раз дешевле своей<br> &laquo;справедливой стоимости&raquo;.
						+e.item.row.LI
							+e.number.col-auto 4
							.col
								p С&nbsp;развитием компании будет расти и&nbsp;сумма выплачиваемых дивидендов, а&nbsp;плюсом будет еще расти и&nbsp;стоимость акций компании. Это доход, который увеличивается сам по&nbsp;себе, без Вашего участия
						+e.item.row.LI
							+e.number.col-auto 5
							.col
								p Если направлять дивиденды на&nbsp;покупку новых<br> акций, можно получить пассивный доход, растущий<br> в&nbsp;прогрессии
			p.main Инвестиции в&nbsp;акции российских компаний, выплачивающих дивиденды&nbsp;&mdash; это не&nbsp;только доступно и&nbsp;выгодно, но&nbsp;ещё и&nbsp;как никогда актуально именно сегодня:
			+e.advantage-list.row
				.col.col-4
					+img('img/reasons-icon-1.png')
					p <span>Акции&nbsp;&mdash; это имущество.</span> Это один из&nbsp;лучших способов сберечь накопления от&nbsp;обесценивания в&nbsp;период кризиса
				.col.col-4
					+img('img/reasons-icon-2.png')
					p <span>Это безопаснее, чем банковский депозит.</span> Банк в&nbsp;период кризиса может обанкротиться или заморозить Ваши деньги. А&nbsp;если обанкротится брокер, Вы&nbsp;останетесь владельцем акций и&nbsp;просто переведёте их&nbsp;к&nbsp;другому брокеру.
				.col.col-4
					+img('img/reasons-icon-3.png')
					p <span>Это выгодно.</span> Размеры дивидендов некоторых российских компаний показывают рекордную доходность за&nbsp;всю историю Московской Биржи
			.active-text
				p Сама история предоставила Вам уникальный момент для старта в&nbsp;начале длинного растущего тренда в&nbsp;экономике. А&nbsp;мы&nbsp;позаботились о&nbsp;том, чтобы процесс инвестирования был для Вас простым, понятным и&nbsp;увлекательным.
				+img('/img/reasons-active-text.png')
	// end sReasons