// start .sKnowing
.sKnowing {
	// background-image: url('../img/knowing-bg.png');
	// background-repeat: no-repeat;
	// background-position: left top;
	// background-size: auto auto;
	// position: relative;
	// z-index: 1;
	// @include media-breakpoint-down(md) {
	// 	&::before{
	// 		content: '';
	// 		@include a-cent;
	// 		z-index: -1;
	// 		background-color: rgba($color: #fff, $alpha: .8);
	// 	}
	// }
	h4{
		margin-bottom: rem(50);
	}
		--sPT: 0;
		// --sPB: ;
		--sTPB: #{rem(25)};
	&__about {
		margin-bottom: rem(50);
		p {
			padding-left: rem(40);
			margin-bottom: 0;
			color: #1E1E1E;
		}
		ul {
			padding: 0;
			margin-left: 20px;
			margin-top: -10%;
			@include media-breakpoint-up(xl) {
				margin-top: 0;
			}
		}
		li {
			padding-left: rem(28);
			margin-bottom: rem(25);
			list-style-image: url('../img/practicum-marker.svg');
			color: #1E1E1E;
		}
	}
	&__img-wrap {
		position: relative;
		img {
			@include media-breakpoint-up(xl) {
				position: absolute;
				left: -30%;
				top: -20%;
			}
			@include media-breakpoint-down(lg) {
				position: relative;
				left: -15%;
			}
			@include media-breakpoint-down(md) {
				position: relative;
				left: -45%;
			}
		}
	}
	h3 {
		margin-bottom: rem(72);
	}
	&__slider {
		margin-bottom: rem(43);
	}
	.swiper-wrapper {
		margin-bottom: rem(80);
		align-items: center;
	}
	&__slide-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		width: auto;
		height: 100%;
		img {
			max-width: 100%;
			@include media-breakpoint-up(lg) {

				max-width: rem(700);
			}
			// box-shadow: 0px 63px 73px -32px rgba(150, 195, 255, 0.36), 0px 94px 63px -51px rgba(0, 0, 0, 0.27);
			border-radius: 20px;
		}
	}
	.swiper-button-hand {
		background-color: $blue;
		color: $white;
	}
	.swiper-button-hand,
	.swiper-button-hand {
		position: absolute;
		top: -22%;
		display: flex;
		align-items:center;
		justify-content: center;
		// width: 36px;
		// height: 36px;
		border-radius: 50%;
		background-color: #fff;
		.icon {
			stroke: $success;
			fill: none;
			font-size: 22px;
		}
	}
	.swiper-button-prev {
		// left: 6%;
		.icon {
			transform: translateX(-2px);
		}
	}
	.swiper-button-next {
		// right: 6%;
		.icon {
			transform: rotate(180deg) translateX(-2px);
		}
	}
	&__program {
		padding-top: rem(76);
		--bs-gutter-y: #{rem(40px)};
		p {
			font-size: 16px;
			&::before {
				content: url('../img/knowing-icon.png');
				position: absolute;
				top: -45px;
				left: 18px;
				@include media-breakpoint-up(lg) {
					top: -65px;
				}
			}
		}
		ul {
			padding: 0;
   		 margin-left: 20px;
			// list-style-image: url('../img/practicum-marker.svg');
			font-size: 12px;
			li::marker {
				color:$cyan;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sKnowing