mixin sHowLearn(data)
	// start sHowLearn
	+b.SECTION.sHowLearn.section#sHowLearn&attributes(attributes)
		.container
			+b.section-title
				h2 Как Вы&nbsp;будете учиться криптотрейдингу на&nbsp;миллион?
				p Чтобы максимально полно и&nbsp;комфортно передать Вам навыки профессионального трейдинга, Яна Мусийко совместно с&nbsp;методистами Инфо-ДВД разработали уникальную многоступенчатую программу обучения.
				p Представляем Вам специальную разработку, которая максимизирует Ваши шансы на&nbsp;успех.
				p: strong 5&nbsp;ступеней практического тренинга, от&nbsp;подготовки до&nbsp;командной практики.
			+ddGroup
				+ddGroupItem(`Ступень №1. Подготовка мышления`,'')
					+e.block--1
						.row
							.col
								p Ваше погружение в&nbsp;мир профессионального трейдинга начнется с&nbsp;подготовки Вашего сознания к&nbsp;правильному восприятию трейдингового процесса.
								p Помните, что Ваша цель&nbsp;&mdash; спокойная и&nbsp;уравновешенная торговля, основанная на&nbsp;понимании рынка?
								p Именно поэтому, прежде чем перейти к&nbsp;самой торговой стратегии, Вы&nbsp;начнете обучение с&nbsp;блока, посвященного подготовке мышления.
								p: strong Материалы первой ступени&nbsp;Вы получите сразу после получения доступа в&nbsp;закрытую группу тренинга в&nbsp;формате видеоуроков
							.col-lg-auto.text-center
								+img("img/block-1.png").res-i
					.h3.fw-800 Программа 1 ступени
					+e.table 
						mixin tr(t)
							+e.tr
								.row
									+e.col.col-sm-4.pb-3
										+e.sub Блок 
										+e.tr-title!= t
									.col
										block
						+tr(`Мышление на миллион`)
							ul
								li Определение и&nbsp;постановка целей. Зачем Вы&nbsp;пришли в&nbsp;трейдинг и&nbsp;какого конкретного результата&nbsp;Вы хотите добиться?
								li Мышление трейдера. Как настроить сознание на&nbsp;эффективное достижение результатов?
								li Путь от&nbsp;точки&nbsp;А к&nbsp;точке Б.&nbsp;Что конкретно Вам необходимо сделать, чтобы прийти от&nbsp;Вашего текущего положения к&nbsp;поставленной цели?
								li Планирование. Как обеспечить гарантированное достижение результата?
								li Мотивация. Как заручиться помощью подсознания для поддержки на&nbsp;трейдерском пути?
								li Честность перед собой и&nbsp;перед рынком. Сбрасываем розовые очки и&nbsp;включаем режим прагматика.
								li Формирование качеств трейдера. Как сформировать набор навыков, необходимых для достижения результата?
								li Понимание своих преимуществ и&nbsp;сильных сторон в&nbsp;торговле. Какие качества помогут Вам получить перевес в&nbsp;свою пользу на&nbsp;рынке?
								li Домашнее задание.

						+tr(`Трейдинг на миллион`)
							ul
								li Сужение торговли. Как отбросить все лишнее и&nbsp;оставить только&nbsp;то, что работает и&nbsp;приносит деньги?
								li Сужение инструментов для торговли. Как выбрать инструменты, на&nbsp;которых будет легче зарабатывать?
								li Сужение рабочих сетапов. Как выбрать паттерны с&nbsp;максимальной вероятностью прибыли в&nbsp;сделке?
								li Домашнее задание.
						+e.block 
							p.strong После прохождения 1&nbsp;ступени, Ваше осознание трейдинга, как профессиональной деятельности, выйдет на&nbsp;совершенно новый уровень. Выполнение домашних заданий закрепит полученные знания и&nbsp;подготовит Вас к&nbsp;переходу на&nbsp;следующую ступень.

				+ddGroupItem(`Ступень №2. Основное обучение`,'')
					+e.block--2
						.row
							.col
								p Теперь, пройдя подготовку, мы сразу погрузимся в «самое мясо».
								p На второй ступени обучения Вы получите конкретные приемы, паттерны и торговые стратегии, которые помогут Вам профессионально зарабатывать на трейдинге криптовалютами (и на любых других рынках).
								p: strong Программа обучения второй ступени будет состоять из шести онлайн-занятий, на которых  Вы сможете сразу задавать Яне вопросы по непонятным моментам и получать от нее обратную связь. Записи всех занятий Вы получите сразу после их проведения вместе с методичками и дополнительными материалами. Записи будут доступны Вам безлимитно, Вы всегда сможете вернуться к их пересмотру
							.col-lg-auto.text-center
								+img("img/block-2.png").res-i
					.h3.fw-800 Программа 2 ступени
					+e.table--2
						mixin tr(t, p, s)
							+e.tr--2
								.row
									+e.col.col-sm-4.pb-3
										+e.sub Блок 
										+e.tr-title!= t
										p!= p
										if s
											.d-flex
												img(src="img/svg/pdf.svg" loading="lazy", alt="")
												.small= s
									.col
										block
						+tr(`Участники рынка`,'Понедельник, 5 декабря, 19-00 МСК')
							ul
								li Вы научитесь видеть и понимать действия участников рынка чтобы предвидеть движение цены.
								li Получите преимущество на рынке перед обычными трейдерами за счет четкого понимания рыночных ситуаций.
								li Научитесь мыслить, как крупный игрок и понимать, как набирается позиция крупными участниками рынка.
								li Поймете, как различать игроков, чтобы не попасть в их ловушку.
								li Узнаете, как присоединиться к сильнейшему, заходя только в самые сильные движения с высокой вероятностью исхода и максимальным соотношением профита к риску.
								li Узнаете нюансы, которые смогут усилить Вашу точку входа.
						+tr(`Уровни и зоны интереса. Поддержка и сопротивление. Спрос и предложение`,'Среда, 7 декабря, 19-00 МСК')
							ul
								li Вы поймете на что конкретно смотрят все трейдеры, фонды, банки, заходя в позиции. Куда они ставят свои стопы и к чему привязываются?
								li Научитесь видеть, где и почему разворачивается тренд.
								li Узнаете, как большие деньги принимают решение о входе в сделку и выходе из нее.
						+tr(`Характер хода движения инструмента. Трендовые линии. Динамические линии`,'Пятница, 9 декабря, 19-00 МСК')
							ul
								li Вы узнаете, что останавливает цену и дает импульс к движению.
								li Как заходить в позицию с филигранной точностью и минимальным риском?
								li Как не опаздывать при входе в сделку, а зайти ровно в момент смены тренда?
								li Как купить инструмент на самых низах и продать на самой вершине?
						+tr(`Самые прибыльные торговые паттерны`,'Понедельник, 14 декабря, 19-00 МСК.','Для Вашего удобства на занятии Вы получите pdf-инструкцию по торговым сетапам, разработанную Яной для своих учеников')
							ul
								li Вы получите самые эффективные торговые сетапы для входа в сделку, которые дадут максимальный профит и минимальный стоп.
								li Научитесь различать прибыльные сетапы от убыточных.
								li Поймете, почему некоторые паттерны не работают и на что надо обращать внимание при входе в рынок.
								li Получите проработанные на опыте и статистике паттерны, отрабатывающие в профит с вероятностью от 70%.
						+tr(`Особенности торговли на крипторынке`,'Среда, 16 декабря, 19-00 МСК','На занятии Вы получите чек-лист для проверки входа в сделку, которым впоследствии поможет Вам в реальной торговле')
							ul
								li Когда и как учитывать объемы?
								li Как выбирать инструменты для торговли?
								li Как определять точку входа?
								li Как рассчитать цели в сделке?
								li Как всегда быть в плюсе, несмотря на фазы рынка?
								li Как выбрать рабочий таймфрейм?
								li Нюансы, которые надо учитывать, принимая решение о входе.
								li Как и когда выходить из сделки?
								li От чего зависит движение Биткоина и альтов?
								li Как сохранить депозит и исключить вероятность его слива?
								li Как фильтровать ложные входы?
								li Как трейдеры-профессионалы повышают вероятность прибыли в сделке до 80%?
						+tr(`Торговый план. Риск менеджмент. Мани менеджмент`,'Пятница, 18 декабря, 19-00 МСК','На занятии Вы получите чек-лист  для проверки входа в сделку, которым впоследствии поможет Вам в реальной торговле')
							ul
								li обираем полученные знания в готовый рабочий инструмент.
								li Как заранее спланировать, что буду делать?
								li Сколько раз буду входить и выходить?
								li Управление эмоциями. Что поможет не сойти с пути? Как справиться с эмоциями, которые мешают эффективной работе?
								li Налогообложение в криптотрейдинге.
								li Готовая Excel-таблица расчёта рисков и сделок.
								li Дневник самопрограммирования. Как держать ресурсное состояние? Где брать ресурс? Как достигать целей?
					+e.block 
						p По итогам второй ступени Вы на 100% будете готовы к тому, чтобы начать практиковаться в реальной торговле криптовалютами.
						p: strong Но на этом Ваше обучение не закончится (как во многих других тренингах), а только начнется. Ведь впереди самое главное – практика на реальном рынке
				+ddGroupItem(`Ступень №3. Онлайн-практика на реальном рынке`,'')
					+e.block--3
						.row
							.col
								p Ваше погружение в&nbsp;мир профессионального трейдинга начнется с&nbsp;подготовки Вашего сознания к&nbsp;правильному восприятию трейдингового процесса.
								p Помните, что Ваша цель&nbsp;&mdash; спокойная и&nbsp;уравновешенная торговля, основанная на&nbsp;понимании рынка?
								p Именно поэтому, прежде чем перейти к&nbsp;самой торговой стратегии, Вы&nbsp;начнете обучение с&nbsp;блока, посвященного подготовке мышления.
								p: strong Материалы первой ступени&nbsp;Вы получите сразу после получения доступа в&nbsp;закрытую группу тренинга в&nbsp;формате видеоуроков
							.col-lg-auto.text-center
								+img("img/block-3.png").res-i 
					+e.table 
						mixin tr(t)
							+e.tr--3
								.row
									+e.col.col-sm-4.pb-3
										+e.tr-title!= t
										p Занятия с онлайн-практикой будут проходить один раз в 2 недели, на протяжении 3-х месяцев
									.col
										block
						+tr(`На третьей ступени Вас будут ждать шесть онлайн-занятий, на которых Вы в прямом эфире вместе с Яной Мусийко`,`Занятия с онлайн-практикой будут проходить один раз в 2 недели, на протяжении 3-х месяцев`)
							ul
								li Будете практиковаться в реальных сделках на реальном рынке.
								li Сможете получить обратную связь по своим сделкам.
								li Получите ответы на все возникающие у Вас вопросы.
								li Узнаете дополнительные нюансы, облегчающие процесс заработка в трейдинге.
								li Получите докрутку Вашей торговли.
								li Закрепите полученные знания реальными рыночными ситуациями
						+e.block 
							p Мы будем собираться в прямом эфире, вместе разбирать текущую ситуацию на криптовалютах, находить идеи для сделок и точки входа, открывать сделки и разбирать их итоги.
							p.strong Эти занятия помогут Вам стать Мастером в торговле криптовалютами
				+ddGroupItem(`Ступень №4. Командная практика  в&nbsp;Телеграм-чате`,'')
					+e.block--4
						.row
							.col
								p Как наработать трейдерские навыки, которые позволят Вам зарабатывать всегда – в любой фазе рынка, на любых инструментах?
								p Вам поможет прямое наставничество от Яны и командная практика вместе с другими участниками тренинга.
								p Четвертая ступень обучения создана для того, чтобы придать Вам максимальное ускорение в доходах!
								p: strong Если Ваш тариф участия включает четвертую ступень, одновременно со стартом онлайн-занятий практики Вы получите доступ в Телеграм-чат команды участников тренинга.
							.col-lg-auto.text-center
								+img("img/block-4.png").res-i
					+e.tr--3
						.row
							+e.col.col-sm-4.pb-3
								+e.tr-title В командном чате: 
							.col
								ul
									li Участники тренинга будут делиться найденными ими потенциально прибыльными ситуациями на рынке. Это позволит использовать эффект синергии – когда вклад в работу каждого участника многократно усиливает прибыльность всех участников команды.
									li Участники тренинга будут обсуждать рыночные ситуации. Это позволит фильтровать найденные сигналы, используя коллективный разум.
									li Вы сможете задавать появившиеся у Вас в ходе практической работы вопросы. Это позволит Вам и дальше получать поддержку, даже после окончания основного обучения.
									li Вы будете находиться в кругу единомышленников, объединенных общим интересом. Это позволит Вам не сойти с дистанции и всегда быть в форме эмоционально
					+e.block--0
						p: strong А главное, помимо других участников команды, в чате с Вами всегда будет наставник с богатым опытом профессионального трейдинга – Яна Мусийко.
						p Яна тоже будет делиться в чате своим видением рынка и своими входами и выходами из сделок.
						.h4 Вот так это будет выглядеть в реальном времени:

						+b.sKnowing
							+e.slider--js.swiper.mb-0
								.swiper-wrapper
									mixin item(x)
										.swiper-slide
											+e.slide-wrap
												+pic(`result-${x}.png`)
									- for (var x = 1; x < 13; x++)
										+item(x)
								.swiper-pagination
								+arrow()
				+ddGroupItem(`Ступень № 5. Бонусы.`,'')
					+e.block--5
						.row
							.col
								p Дополнительные материалы от Яны Мусийко, которые помогут Вам не заблудиться на крипторынке, а также получать дополнительную прибыль от инвестиций в криптовалюты.
							.col-lg-auto.text-center
								+img("img/block-5.png").res-i
					.sForYou
						ol
							li 
								strong Гайд по криптобирже Binance.
								p Как зарегистрироваться на Binance? Прохождение верификации на Binance. Как пополнить счет?
								
							li 
								strong Ввод и вывод денег на криптобиржах
								p Где выгодно и безопасно покупать и продавать криптовалюту?
							li 
								strong Проверенные ресурсы крипторынка
								p Список криптовалютных бирж, доступных для граждан РФ
							li 
								strong Торговля в мобильном приложении Binance
								p Обзор биржи Binance. Как работать с мобильным торговым терминалом? Как торговать фьючерсами на криптовалюты?
							li 
								strong Инструменты инвестирования в криптовалюты
								p ТОП крипто-монет, которые стоит покупать на долгосрок и которые имеют потенциал сделать иксы в ближайшей перспективе. Как накопить капитал? Как сохранить накопленный капитал?
							li 
								strong Безопасность на крипторынке
								p Как отличить мошенников? Как не потерять деньги, работая с криптовалютами?

	// end sHowLearn