mixin sPassiveIncome(data)
	// start sPassiveIncome
	+b.SECTION.sPassiveIncome.section#sPassiveIncome&attributes(attributes)
		.container
			+b.section-title
				h2 Как именно&nbsp;Вы будете строить пассивный доход?
			ul
				+e.item.row.LI
					.col-12.col-md-3.text-md-end
						+e.term Рынок
					+e.definition.col-12.col-md-9
						p Московская Биржа, фондовый рынок&nbsp;РФ
				+e.item.row.LI
					.col-12.col-md-3.text-md-end
						+e.term Инструменты
					+e.definition.col-12.col-md-9 
						p Акции компаний, которые регулярно выплачивают дивиденды
				+e.item.row.LI
					.col-12.col-md-3.text-md-end
						+e.term Стратегия
					+e.definition.col-12.col-md-9 
						p Долгосрочные портфельные инвестиции. Акции находятся в&nbsp;портфеле до&nbsp;тех пор, пока по&nbsp;ним выплачиваются дивиденды
				+e.item.row.LI
					.col-12.col-md-3.text-md-end
						+e.term Отбор акций
					+e.definition.col-12.col-md-9 
						p Пошаговая стратегия отбора акций для регулярных покупок в&nbsp;портфель. Экспресс-анализ финансового состояния компании
				+e.item.row.LI
					.col-12.col-md-3.text-md-end
						+e.term Потенциал 
					+e.definition.col-12.col-md-9 
						p Регулярные выплаты дивидендов, возможность реинвестирования, рост размера дивидендов и&nbsp;стоимости портфеля
				+e.item.row.LI
					.col-12.col-md-3.text-md-end
						+e.term Цели 
					+e.definition.col-12.col-md-9 
						p Накопление и&nbsp;сохранение капитала, накопление пассивного дохода
				+e.item.row.LI
					.col-12.col-md-3.text-md-end
						+e.term Возможности упрощения
						span процесса торговли
					+e.definition.col-12.col-md-9 
						p Командная работа, использование коллективного мозга и&nbsp;инструментов мастер-группы для упрощения поиска и&nbsp;анализа перспективных акций
				+e.item.row.LI
					.col-12.col-md-3.text-md-end
						+e.term Брокеры
					+e.definition.col-12.col-md-9 
						p Любой удобный Вам брокер, который предоставляет доступ к&nbsp;акциям Московской Биржи
				+e.item.row.LI
					.col-12.col-md-3.text-md-end
						+e.term Минимальный старт
					+e.definition.col-12.col-md-9 
						p от&nbsp;3000 рублей

	// end sPassiveIncome