mixin sWhatLearn(data)
	// start sWhatLearn
	+b.SECTION.sWhatLearn.section#sWhatLearn&attributes(attributes)
		.container
			+b.section-title
				h2 Вот, чему Вы научитесь в итоге:
				
			.row
				mixin item(i, p)
					+e.col.col-lg-3.col-md-4.col-sm-6 
						+img(`img/svg/sWhatLearn-${i}.svg`)
						p!= p
				+item(`1`,`Получать доход на&nbsp;любых волатильных инструментах:  на&nbsp;криптовалютах,  на&nbsp;фьючерсах, на&nbsp;Форексе,  на&nbsp;акциях и&nbsp;т.д`)
				+item(`2`,`Получать доход в&nbsp;любой фазе рынка: при рыночном росте или падении, в&nbsp;кризис и&nbsp;рецессию`)
				+item(`3`,`В&nbsp;каждый момент понимать, что происходит на&nbsp;рынке  и&nbsp;какова расстановка сил покупателей и&nbsp;продавцов`)
				+item(`4`,`Видеть действия крупного игрока и&nbsp;зарабатывать, присоединяясь к&nbsp;его движениям`)
				+item(`5`,`Выбирать подходящий  момент для самых прибыльных точечных  сделок`)
				+item(`6`,`Предсказывать движения инструментов с&nbsp;точностью  до&nbsp;80%, видеть моменты смены тренда и&nbsp;входить в&nbsp;сделку  в&nbsp;самом его начале`)
				+item(`7`,`Управлять рисками, чтобы  ни&nbsp;при каких обстоятельствах не&nbsp;слить свой депозит`)
				+item(`8`,`Зарабатывать в&nbsp;трейдинге сейчас и&nbsp;через годы`) 
				+b.section-footer
					+img("img/text.png").mb-3.res-i
					.h5 От&nbsp;Вас нужна старательность, готовность принимать новые знания и&nbsp;практиковаться для отработки навыков. 
					.h5 Все остальное&nbsp;Вы получите на&nbsp;тренинге в&nbsp;готовом виде
					+e.btn(href="#sAccess") Жмите здесь, чтобы начать учиться трейдингу у трейдера-профессионала

	// end sWhatLearn