mixin sAccess(data)
	// start sAccess
	+b.SECTION.sAccess.section#sAccess&attributes(attributes)
		.container
			+b.section-title
				p Подробно об участии
				h2 Как стать участником тренинга  Инфо-ДВД и&nbsp;Яны Мусийко #[span.text-primary &laquo;Криптотрейдинг на&nbsp;миллион&raquo;?]
			+e.row.row
				+img('img/access-bg.svg')(class="d-none d-lg-block")
				mixin step(number,text)
					+e.step&attributes(attributes)
						+e.number= number
						+e.text!= text
				.col-lg-4.col-md-6
					+step('1',`Внимательно заполните форму ниже и&nbsp;нажмите кнопку &laquo;Продолжить&raquo;.`)
				.col-lg-4.col-md-6
					+step('2',`Сразу после этого Вам откроется страница с&nbsp;тарифами и&nbsp;доступными Вам скидками`)
				.col-lg-4.col-md-6
					+step('3',`Если необходимо, Вы&nbsp;получите бесплатную консультацию от&nbsp;специалиста Инфо-ДВД по&nbsp;указанному Вами номеру телефона`)
				.col-lg-4.col-md-6.order-last
				.col-lg-4.col-md-6.order-lg-last
					+step('4','Выберите подходящий тариф участия, оплатите его стоимость')
				.col-lg-4.col-md-6.order-lg-last
					+step('5',`Уже через одну минуту после оплаты Вам откроется доступ в&nbsp;закрытую обучающую группу с&nbsp;материалами тренинга`)(class="dashed-none")
		+e.form-wrap
			.container
				+form-cont()
				//- +e.policy.text-center
				//- 	| Заполняя форму Вы соглашаетесь с условиями
				//- 	|
				//- 	a(href='javascript:void(0)' onclick="return window['bf305'].popup('https://info-dvd.ru/bbm/../../oferta?popup=1', 'win', 1050, 450); return false;")  пользовательского соглашения
	// end sAccessё