mixin sBenefits(data)
	// start sBenefits
	+b.SECTION.sBenefits.section#sBenefits&attributes(attributes)
		.container
			p.section-subtitle Почему дивидендные инвестиции&nbsp;&mdash; это идеальный способ создания пассивного дохода в&nbsp;РФ?
			+b.section-title
				h2 Три главные выгоды инвестора
			+e.list.row
				.col.col-6
					+img('img/benefits-img-1.jpg')
				.col.col-6
					+e.text-wrap.ms-auto
						+e.item-title Инвестиции с&nbsp;регулярным саморастущим доходом
						p Не&nbsp;продавайте никогда Ваших курочек, несущих золотые яйца, следуйте простым правилам инвестиционной стратегии и&nbsp;Ваш пассивный доход будет расти с&nbsp;каждым годом. 
						p Постройте семейный источник дохода, который&nbsp;Вы сможете передать по&nbsp;наследству своим детям и&nbsp;внукам!
				.col.col-6
					+e.text-wrap
						+e.item-title Надежные инвестиции
						p <span>Сегодня:</span>Время, когда рисковые инвестиции подходят далеко не&nbsp;всем.
						p Время, когда хранить деньги в&nbsp;банке не&nbsp;безопасно.
						p Время, когда лучший способ сохранить накопления от&nbsp;обесценивания&nbsp;&mdash; приобрести на&nbsp;них доли в&nbsp;бизнесе крупных устойчивых компаний
				.col.col-6
					+img('img/benefits-img-2.jpg')
				.col.col-6
					+img('img/benefits-img-3.jpg')
				.col.col-6
					+e.text-wrap.ms-auto
						+e.item-title Комфортные и&nbsp;увлекательные инвестиции
						p Вы&nbsp;играли в&nbsp;экономические игры? Если&nbsp;да, то&nbsp;Вы уже видели, как там накапливается доход по&nbsp;принципу снежного кома.
						p Увлекательно? В&nbsp;реальности всё точно также. Просто включите игровой момент и&nbsp;создавайте пассивный доход играючи.
			h3 Все, что Вам нужно, чтобы начать инвестировать и&nbsp;получать пассивный доход:
			+e.steps.row.UL
				+e.step.col-3.LI 
					p Один раз пройти обучение на&nbsp;простом и&nbsp;понятном языке
				+e.step.col-3.LI 
					p Регулярно складывать часть своих денег в&nbsp;&laquo;копилку&raquo;. Менять их&nbsp;на&nbsp;растущий постоянный доход
				+e.step.col-3.LI 
					p Реинвестировать часть полученного дохода, чтобы обеспечить постоянный рост дохода в&nbsp;прогрессии
				+e.step.col-3.LI 
					p Тратить другую часть дивидендов на&nbsp;себя и&nbsp;своих близких
			.action-block
				p Выгодно, надёжно и&nbsp;увлекательно! Вы&nbsp;с&nbsp;нами?
				+e(href="#").btn.btn.btn-primary Начать обучение дивидендным инвестициям прямо сейчас
	// end sBenefits