mixin sAdvantages(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			p.section-subtitle Специально для Вас
			+b.section-title
				h2 3&nbsp;преимущества обучения дивидендным инвестициям у&nbsp;Павла Крёза и&nbsp;Инфо-ДВД
			dl
				dt <span class="points"></span>Упор на&nbsp;простоту обучения
				dd Весь материал воспринимается легко. Вы&nbsp;увидите, Ваше обучение будет увлекательным занятием.
				dt <span class="points"></span>Упор на&nbsp;комфорт в&nbsp;инвестициях
				dd Никаких нервотрёпок и&nbsp;просаженных депозитов. Накапливайте постоянный доход и&nbsp;получайте плавное ускорение в&nbsp;его величине. Не&nbsp;нужно много времени, достаточно 1-2 часа в&nbsp;месяц. Минимальные первоначальные вложения, инвестируйте комфортные для Вас деньги
				dt <span class="points"></span>Вместе по&nbsp;инвестиционному пути
				dd Мы&nbsp;ставим долгосрочные цели и&nbsp;приглашаем Вас присоединиться к&nbsp;построению &laquo;жизни инвестора&raquo;. Приготовьтесь идти по&nbsp;инвестиционному пути всю свою жизнь и&nbsp;присоединяйтесь на&nbsp;этом пути к&nbsp;сообществу мастер-группы Павла Крёза
	// end sAdvantages