// start .sAdvantages
.sAdvantages {
	z-index: 2;
	// background-color: #F2F2F5;
	position: relative;
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	// background-image: url('../img/advantages-bg.png');
	// background-repeat: no-repeat;
	// +e.bg-wrap {
		
	// }
	img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: left top;
	}
	h2 {
		max-width: 700px;
	}
	dl {
		max-width: 700px;
	}
	dt {
		margin-bottom: rem(14);
		font-size: rem(24);
		display: flex;
		align-items: center;
	}
	dd {
		margin-bottom: rem(40);
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAdvantages
.points {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	margin-right: 20px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: $blue;
	// bottom:10px;
	line-height: 1;
	&::after,
	&::before {
		content: '';
		position: absolute;
		display: inline-block;
		width: 5px;
		height: 5px;
		top: 0;
		border-radius: 50%;
		background-color: $blue;
	}
	&::before {
		left: -10px;
	}
	&::after {
		right: -10px;
	}
}