mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		//- +img('head-bg.jpg','bg').picture-bg
		.container
			+e.inner
				h1 Путь с&nbsp;наставником  к&nbsp;миллиону  на&nbsp;криптотрейдинге
				+e.body
					p Узнайте, как в&nbsp;реальности зарабатываются деньги в&nbsp;профессиональном трейдинге криптовалютами
					//- +e.caption.d-none.d-lg-block Павел Крез <span>Эксперт в&nbsp;трейдинге</span>
					ul
						li Практическое обучение с&nbsp;нуля
						li Научитесь понимать рынок и&nbsp;предвидеть движения
						li Получите неоспоримое преимущество перед рынком и&nbsp;научитесь играть по&nbsp;его правилам
					+e.img-wrap
						+pic("head-img.png",'','576px')
						//- +img("img/head-img.png")
					a.btn.btn-primary(href="#sAccess").scroll-link Начать практику прямо сейчас
			//- +e.footer
			//- 	p В&nbsp;период обвала российского фондового рынка весной 2022 крупнейшие инвестиционные компании США JPMorgan и&nbsp;Goldman Sachs принялись скупать резко подешевевшие российские активы
			
						
	// end headerBlock