- const version = '0.0.1'
mixin allcss() 
	link(href="libs/swiper/swiper.min.css", rel="stylesheet")
	link(href="libs/@fancyapps/ui/fancybox.css", rel="stylesheet")
	link(href='//info-dvd.ru/bbm/css/bbm_form.css?20220401' rel='stylesheet' type='text/css')
	link(href=`css/main.min.css?v=${version}`, rel="stylesheet")

	link(rel="preload" href="fonts/Manrope-Medium.woff2" as="font" type="font/woff2" crossorigin)
	link(rel="preload" href="fonts/Manrope-Bold.woff2" as="font" type="font/woff2" crossorigin)
	link(rel="preload" href="fonts/Manrope-ExtraBold.woff2" as="font" type="font/woff2" crossorigin)

mixin allcjs() 
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/ui/fancybox.umd.js") 
	script(src="libs/swiper/swiper-bundle.min.js")  
	script(src="libs/inputmask/inputmask.min.js") 
	script(src=`js/common.js?v=${version}`)