mixin sWhatThink(data)
	// start sWhatThink
	+b.SECTION.sWhatThink.section#sWhatThink&attributes(attributes)
		.container
			+b.section-title
				.row
					.col
						h2 Что Вы думаете, когда слышите слово #[span «миллион»?]

					.col-lg-5
						p 
							.strong Мечта? Нереально? 
							| А&nbsp;давайте переведем &laquo;миллион&raquo; в&nbsp;категорию цели. Что нужно делать, чтобы стать трейдером-миллионером? Речь о&nbsp;том, как получить навыки, которые помогут вам сделать миллион на&nbsp;трейдинге.
			+e.label Ключ к&nbsp;реальным деньгам в&nbsp;трейдинге&nbsp;&mdash; понимание механики рынка.
			.h5.mb-5 Когда Вы научитесь понимать, какие законы двигают рынок и как он функционирует, тогда Вы сможете:

			.row
				+e.col.col-lg-3.col-sm-6
					+img("img/svg/mark.svg")
					p  Зарабатывать в&nbsp;любой фазе рынка и&nbsp;на&nbsp;любом инструменте
				+e.col.col-lg-3.col-sm-6
					+img("img/svg/mark.svg")
					p  Предвидеть рыночные движения и&nbsp;входить в&nbsp;сделку в&nbsp;нужный момент
				+e.col.col-lg-3.col-sm-6
					+img("img/svg/mark.svg")
					p  Заходить только в&nbsp;самые сильные движения с&nbsp;максимальной вероятностью прибыли
				+e.col.col-lg-3.col-sm-6
					+img("img/svg/mark.svg")
					p  В&nbsp;любой момент понимать действия других трейдеров и&nbsp;всегда иметь перед ними преимущество
			.row
				.h4.col-xxl-5.col-sm Вы получите больше, чем миллион. Это уверенность в рынке и в завтрашнем дне
				.col-auto.mt-4.mb-3.d-none.d-sm-block
					img(src="img/svg/arrow-lg.svg", alt="")
				.col.h3.strong Как научиться понимать рыночную механику?
			.text-center
				+img("img/svg/text-lg.png").res-i
	// end sWhatThink