mixin sPracticum(data)
	// start sPracticum
	+b.SECTION.sPracticum.section#sPracticum&attributes(attributes)
		.container
			p.section-subtitle Приглашаем Вас в&nbsp;практикум от&nbsp;Павла Крёза и&nbsp;Издательства Инфо-ДВД
			+b.section-title
				h2 Пассивный доход в&nbsp;РФ. Дивиденды
			.row
				+e.img-wrap.col-12.col-md-6
					+img('img/practicum-img.png')
				.col-12.col-md-6
					+e.list.UL
						li Доступное и&nbsp;понятное обучение
						li Реальная практика в&nbsp;круглогодичном режиме
						li Простой и&nbsp;увлекательный процесс инвестирования
						li Очень низкий порог входа, от&nbsp;100 руб
						li Доход, растущий сам по&nbsp;себе
						li Прозрачно, легально и&nbsp;безопасно
						li Расширенная поддержка от&nbsp;авторов и&nbsp;команды
						li Пошаговая стратегия отбора акций
						li Долгосрочное развитие в&nbsp;сообществе инвесторов
			.action-block
				p Начните сегодня, Вас ждёт моментальный доступ к&nbsp;материалам!
				+e(href="#").btn.btn.btn-primary Хочу начать практикум прямо сейчас 
	// end sPracticum