mixin sPracticum(data)
	// start sPracticum
	+b.SECTION.sPracticum.section#sPracticum&attributes(attributes)
		.container
			 
			+b.section-title
				p Приглашаем Вас пройти практический тренинг Издательства Инфо-ДВД и&nbsp;Яны Мусийко
				h2 Криптотрейдинг на миллион
			.row
				.col-12.col-xl-7
					+e.list.UL
						li Научитесь прибыльному трейдингу с&nbsp;нуля. Ваши начальные знания и&nbsp;навыки не&nbsp;важны.
						li Практическое обучение на&nbsp;реальном рынке.
						li Торговая система с&nbsp;контролируемым уровнем риска.
						li Главные секреты получения прибыли из&nbsp;опыта профессиональной работы в&nbsp;инвестиционном фонде.
						li Получите навык понимания рыночных движений, который поможет Вам зарабатывать на&nbsp;любых рынках и&nbsp;в&nbsp;любой рыночной фазе.
						li Создайте преимущество перед&nbsp;95% обычных трейдеров на&nbsp;рынке.
						li Наставничество от&nbsp;профессионального трейдера с&nbsp;рекомендациями и&nbsp;обратной связью.
						li Научитесь предсказывать сильные движения, которые приносят больше всего денег.
						li Научитесь формировать торговые идеи, как профессиональный трейдер, находить ювелирные точки входа и&nbsp;грамотно ставить цели, контролируя уровень риска.
						li Еженедельно забирайте деньги с&nbsp;рынка вместо того, чтобы кормить рынок со&nbsp;своих доходов.
				+e.img-wrap.col
					+pic('practicum-img.png','','576px')
			+b.section-title
				h2 Этот практикум для Вас, если:
			.row
				+e.col.col-lg-3.col-sm-6
					+img("img/svg/mark.svg")
					| Вы&nbsp;новичок и&nbsp;хотите с&nbsp;нуля научиться зарабатывать деньги трейдингом
					
				+e.col.col-lg-3.col-sm-6
					+img("img/svg/mark.svg")
					| Вы&nbsp;уже проходили обучение, но&nbsp;не&nbsp;получили устраивающего Вас результата
				+e.col.col-lg-3.col-sm-6
					+img("img/svg/mark.svg")
					| Вы&nbsp;опытный трейдер и&nbsp;хотите продолжить свое обучение у&nbsp;профессионала
				+e.col.col-lg-3.col-sm-6
					+img("img/svg/mark.svg")
					| Вы&nbsp;работает в&nbsp;найме и&nbsp;хотите свободы или дополнительного дохода
				mixin item(p)
					+e.col.col-lg-3.col-sm-6
						+img("img/svg/mark.svg")
						!= p
				+item(`Вы&nbsp;достигли потолка в&nbsp;заработке`)
				+item(`Вы&nbsp;ищете новый источник дохода, не&nbsp;зависящий от&nbsp;Вашего места нахождения и&nbsp;начальника`)
				+item(`Вам надоело сливать деньги на&nbsp;рынке`)
				+item(`Вам надоело искать Грааль`)
				+item(`Вы&nbsp;хотите научиться определять безопасные точки входа и&nbsp;выхода`)
				+item(`Вы&nbsp;хотите изменить свою жизнь и&nbsp;финансовое положение`)
				+item(`Вы&nbsp;хотите не&nbsp;зависеть от&nbsp;кризисов и&nbsp;зарабатывать в&nbsp;любой фазе рынка`)
				+item(`Вы&nbsp;хотите научиться понимать рынок и&nbsp;предвидеть движения криптовалют`)

			+e.footer.text-center
				+pic("text-lg.png",'','576px')
				a.btn.btn-primary(href="#sAccess") Жмите здесь, чтобы получить доступ к обучению прямо сейчас
			//- .action-block
			//- 	p Начните сегодня, Вас ждёт моментальный доступ к&nbsp;материалам!
			//- 	+e(href="#").btn.btn.btn-primary Хочу начать практикум прямо сейчас 
	// end sPracticum