// start .sPracticum
.sPracticum {
		--sPT: #{rem(52)};
		--sPB: 0;
		margin-bottom: rem(80);
		@extend .bg;
		--sTPB: 15px;
	.section-title {
		// margin-bottom: rem(15);
		p{

			max-width: rem(720);
		}
	}
	.row {
		margin-bottom: rem(35);
	}
	&__img-wrap {
		position: relative;
		// background-image: url('../img/practicum-bg.png');
		// background-repeat: no-repeat;
		// background-size: 100% auto;
		// background-position: top center;
		img {
			position: absolute;
			top:44%;
			left:50%;
			transform:translate(-50%, -50%);
			@include media-breakpoint-down(md) {
				transform:none;
				position: static;
				width: 100%;
				object-fit: contain;
			}
		}
	}
	&__list {
			list-style-image: url('../img/practicum-marker.svg');
		li {
			padding-left: rem(16);
			margin-bottom: rem(22);
			margin-left: rem(20);
		}
	}
	.action-block {
		.btn {
			margin-bottom: rem(30);
		}
	}

	&__col{
		font-weight: 500;
		font-size: rem(16);
		margin-top: rem(80);
		img{
			width: rem(44);
			margin-bottom: rem(10);
			display: block;
		}
	}
	&__footer{
		img{
			max-width: rem(880);
		}
		.btn{
			margin-bottom: rem(-23);
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPracticum