// start .sMainInvestment
.sMainInvestment {
		--sPT: #{rem(60)};
		// --sPB: ;
		--sTPB: #{rem(75)};
		h2 {
			line-height: 102.3%;
		}
	.row {
		margin-bottom: rem(28);
	}
	&__primary-text {
		margin-bottom: rem(30);
		font-weight: 700;
		font-size: rem(30);
		line-height: 130%;
		color: $blue;
	}
	img {
		display: none;
		@include media-breakpoint-up(xl) {
			left: -60px;
		}
		@include media-breakpoint-up(lg) {
			display: block;
			z-index: -1;
			position: absolute;
			top: -30px;
			left: -155px;
		}
	}
	.active-text {
		padding-left: rem(40);
		padding-right: rem(40);
		max-width: 440px;
		font-weight: 500;
		font-size: rem(20);
		@include media-breakpoint-up(md) {
			margin-left: auto;
		}
		p {
			margin-bottom: 20px;
		}
	}
	&__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		p {
			max-width: 955px;
		}
	}
	.action-block {
		max-width: 879px;
		p {
			margin-bottom: rem(17);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sMainInvestment