// start .sNeeded
.sNeeded {
		// --sPT: ;
		// --sPB: ;
		--sTPB: #{rem(25)};
	.strong {
		font-size: rem(24);
		margin-bottom: rem(80);
		letter-spacing: -.6px;
	}
	&__list {
		list-style-type: none;
		margin-top: rem(160);
		@include media-breakpoint-down(sm) {
			margin-top: rem(60);
		}
		// --bs--gutter-y: #{rem(70)};
		li {
			position: relative;
			margin-bottom: rem(50);
		}
		p {
			font-size: 16px;
		}
	}
	.number {
		position: absolute;
		display: flex;
		align-items: center;
		top: -84%;
		color: $cyan;
		font-size: rem(150);
		font-weight: 900;
		z-index: -1;
		@include media-breakpoint-down(lg) {
			font-size: rem(50);
			top: -50%;
		}
		@include media-breakpoint-down(sm) {
			top: -50px;
		}
	}
	.points {
		width: 16px;
		height: 16px;
		margin: 0 32px;
		background-color: $cyan;
		&::after,
		&::before {
			width: 16px;
			height: 16px;
			background-color: $cyan;
		}
		&::before {
			left: -32px;
		}
		&::after {
			right: -32px;
		}
	}

	img {
		max-width: 100%;
		box-shadow: 0px 63px 73px -32px rgba(150, 195, 255, 0.36), 0px 94px 63px -51px rgba(0, 0, 0, 0.27);
		border-radius: 8px;
	}

	&__skills {
		--bs-gutter-y: #{rem(30)};
	 ul {
		padding: 0;
    margin-left: 20px;
		margin-bottom: rem(86);
			li {
				padding-left: rem(20);
				margin-bottom: rem(22);
				list-style-image: url(../img/practicum-marker.svg);
			}
		}
	}

	&__summary {
		justify-content: space-between;
		--bs-gutter-y: #{rem(30)};
	}
	&__summary-left {
		display: inline-block;
		max-width: 530px;
	} 
	&__summary-right {
		position: relative;
		display: inline-block;
		padding-left: rem(40);
		max-width: 450px;
		font-weight: 700;
		font-size: rem(30);
		line-height: 130%;
		@include media-breakpoint-down(md) {
			padding-left: rem(60);			
		}
		&::before {
			position: absolute;
			content: url('../img/needed-icon.png');
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			@include media-breakpoint-down(md) {
				left: 15px;
			}
		}
	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sNeeded