extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sWhy/_sWhy.pug
include ../blocks/sReasons/_sReasons.pug
include ../blocks/sPracticum/_sPracticum.pug
//- include ../blocks/sDividends/_sDividends.pug
//- include ../blocks/sPassiveIncome/_sPassiveIncome.pug
//- include ../blocks/sMainInvestment/_sMainInvestment.pug
//- include ../blocks/sBenefits/_sBenefits.pug
//- include ../blocks/sRussianStocks/_sRussianStocks.pug
//- include ../blocks/sTeam/_sTeam.pug
include ../blocks/sKnowing/_sKnowing.pug
//- include ../blocks/sProgram/_sProgram.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sNeeded/_sNeeded.pug
include ../blocks/sEasy/_sEasy.pug
include ../blocks/sHowLearn/_sHowLearn.pug
include ../blocks/sAccess/_sAccess.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sAction/_sAction.pug
include ../blocks/sForYou/_sForYou.pug
include ../blocks/sWhatLearn/_sWhatLearn.pug
include ../blocks/sReallyImportant/_sReallyImportant.pug
include ../blocks/s5Steps/_s5Steps.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug
include ../blocks/sWhatThink/_sWhatThink.pug
include ../blocks/sEarnMoney/_sEarnMoney.pug
include ../blocks/sHowMuch/_sHowMuch.pug
include ../blocks/sAuthor/_sAuthor.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= Крез
block pagecontent

	+top-nav()
	+headerBlock
	+sWhatThink
	+sPracticum()
	+sEarnMoney
	+sHowMuch
	+sAuthor
	+sKnowing()

	+sEasy
	+sHowLearn
	
	//- +sWhy()
	//- +sReasons()
	//- +sDividends()
	//- +sPassiveIncome()
	//- +sMainInvestment()
	//- +sBenefits()
	//- +sRussianStocks()
	//- +sTeam()
	//- +sProgram()
	//- +sAdvantages()
	//- +sNeeded()

	+s5Steps
	+sReallyImportant
	+sWhatLearn
	+sForYou
	+sAccess()
	+sFAQ()
	+sAction() 
	+footer()
      



