mixin sWhy(data)
	// start sWhy
	+b.SECTION.sWhy.section#sWhy&attributes(attributes)
		.container
			+b.section-title
				h2 Почему?
			.row
				.col-12.col-lg-7
					p Они понимают, что экономике России предстоит длительный рост. А&nbsp;момент искусственного обвала&nbsp;&mdash; это возможность купить активы дёшево.
					p Для частных инвесторов&nbsp;&mdash; это удачное время начать формировать свой пассивный дивидендный доход.
					p Во&nbsp;время кризиса умные инвестиции создают для себя источники дохода на&nbsp;годы и&nbsp;десятилетия вперед.
					p Почему&nbsp;бы и&nbsp;Вам не&nbsp;присоединиться к&nbsp;умным деньгам?
				.active-text.col-12.col-lg-5
					p Воспользуйтесь историческим моментом на&nbsp;фондовом рынке&nbsp;РФ, чтобы создать пассивный доход, который будет расти вместе с&nbsp;развитием экономики России
	// end sWhy