// start .sWhy
.sWhy {
		--sPT:#{rem(28)} ;
		// --sPB: ;
		--sTPB:#{rem(48)};
		
	p {
		max-width: 640px
	}
	.active-text {
		p {
			@include media-breakpoint-up(lg) {
				max-width: 350px;

			}
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sWhy