mixin sAction(data)
	// start sAction
	+b.SECTION.sAction.section#sAction&attributes(attributes)
		.container
			+e.centred-block 
				.section-title
					h2 Вы реально дочитали до конца?
					p Что&nbsp;ж, поздравляем! Очень приятно иметь с&nbsp;Вами дело, потому что&nbsp;Вы вдумчивый и&nbsp;серьезный человек, привыкший досканально изучать информацию перед принятием решения

					h2 Именно у&nbsp;Вас больше всего шансов на&nbsp;успех в&nbsp;трейдинге!
				p С&nbsp;другой стороны, Вы&nbsp;бездействуете.
				p В&nbsp;трейдинге зарабатывают деньги только те&nbsp;люди, которые умеют после вдумчивого анализа быстро принимать осознанные решения.
				p: strong Это важнейший навык, который приносит реальные деньги
				br
				p Понимаем, Вам страшно сделать шаг.
				p Действительно, ведь это решающий шаг. В&nbsp;новую жизнь.
				p: strong  Чтобы принять такое важное решение, разрешите себе изменения в&nbsp;жизни.
				p Мир меняется прямо на&nbsp;глазах. Подумайте, где&nbsp;Вы окажетесь через пару лет, если ничего не&nbsp;поменяете в&nbsp;своем жизненном укладе?

				p: strong  Всего один шаг&nbsp;&mdash; и&nbsp;Вы обретете опытного наставника, который точно знает, как прийти к&nbsp;миллиону на&nbsp;криптовалютном трейдинге
				br

				p Подумайте, где&nbsp;Вы можете оказаться через пару лет, если сегодня разрешите себе этот шаг
				
				p: strong Вот эта кнопка&nbsp;&mdash; Ваш шаг в&nbsp;новую жизнь. Жмите на&nbsp;нее прямо сейчас и&nbsp;откройте дверь к&nbsp;финансовому благополучию:
			a.btn.btn-primary(href="#sAccess") Я разрешаю себе изменения в жизни!
	// end sAction