mixin sAction(data)
	// start sAction
	+b.SECTION.sAction.section#sAction&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Промотали сайт вниз? Или дочитали до конца?
			+e.centred-block.text-center
				p Если Вы&nbsp;читали всё внимательно, Вы&nbsp;уже в&nbsp;курсе, что пора пользоваться ситуацией и&nbsp;действовать. Лучшего времени, чтобы начать создавать пассивный доход в&nbsp;РФ не&nbsp;найдёшь. 
				+actionBlock('Жмите на&nbsp;кнопку и&nbsp;скорей заполняйте форму заявки на&nbsp;участие в&nbsp;тренинге. Если вопросы остались, сотрудник Инфо-ДВД Вас проконсультирует','Начать создавать пассивный доход ')
			p.strong.text-center Если Вы&nbsp;просто промотали сайт до&nbsp;самого конца, то&nbsp;как минимум, Вы&nbsp;упустили:
			.row
				.col-3
					.cross
					p Возможность успеть дёшево приобрести акции крупнейших предприятий&nbsp;РФ и&nbsp;получать часть их&nbsp;будущей прибыли постоянно
				.col-3
					.cross
					p 5&nbsp;факторов выгодных инвестиций, которые обеспечат взрывной рост Ваших дивидендов: недооценённость фондового рынка&nbsp;РФ, развитие экономики России, программы выкупа акций и&nbsp;государственная поддержка, магия сложных процентов, уникальная ситуация на&nbsp;рынке с&nbsp;низкими ценами на&nbsp;акции и&nbsp;высоким размером дивидендов
				.col-3
					.cross
					p Как сберечь накопления от&nbsp;обесценивания в&nbsp;период кризиса? Где хранить деньги в&nbsp;кризис безопаснее, чем на&nbsp;банковском депозите?
				.col-3
					.cross
					p Инвестиции с&nbsp;постоянным растущим доходом&nbsp;&mdash; это просто, увлекательно и&nbsp;доступно каждому
			+e.buttons-block
				p Действуйте
				+e.buttons
					+e(href="#").btn.btn.btn-outline-primary Вернуться к&nbsp;началу сайта
					+e(href="#").btn.btn.btn-primary Интересно, хочу начать инвестировать 
	// end sAction