mixin s5Steps(data)
	// start s5Steps
	+b.SECTION.s5Steps.section#s5Steps&attributes(attributes)
		.container
			+b.section-title 
				p Что в итоге?
				h2 5&nbsp;ступеней, которые выведут Вас  на&nbsp;уровень профессионального мастерства в&nbsp;трейдинге:
			+e.body
				ul
					li Подготовка мышления
					li Обучение трейдингу + торговая стратегия
					li Онлайн-практика на реальном рынке
					li Командный чат трейдеров
					li Дополнительные материалы
				p Добавьте к&nbsp;этому собственные старания в&nbsp;наработке трейдерских навыков, и&nbsp;миллион на&nbsp;криптовалюте станет для Вас легко достижимой целью!
				+pic("form-man.png",'',0)
			.text-center
				a.btn.btn-primary(href="#sAccess") Получить доступ к&nbsp;обучению прямо сейчас
			//- +e.row.row
	// end s5Steps