mixin sProgram(data)
	// start sProgram
	+b.SECTION.sProgram.section#sProgram&attributes(attributes)
		.container
			p.section-subtitle Спец разработка
			+b.section-title
				h2 Программа обучения
			p Вас ждёт специальная разработка от&nbsp;Павла Крёза, Дениса Абросимова и&nbsp;команды Инфо-ДВД.
			p Уникальная программа обучения&nbsp;&mdash; постепенное пошаговое погружение в&nbsp;нескольких модулях, от&nbsp;первоначальной теории до&nbsp;командной практики
			h3 Вводный видеокурс
			p.strong Как копить пассивный доход вместо того, чтобы копить деньги?
			p 9&nbsp;видеоуроков от&nbsp;Дениса Абросимова, предназначенных для подготовки перед основным обучением
			+ddGroup
				+ddGroupItem('Урок&nbsp;1. Психология дивидендного инвестирования', activeClasses='')
					ul
						li Как копить доход вместо того, чтобы копить деньги?
						li Накопление активов, приносящих постоянный растущий доход, как неотъемлемая часть жизни.
						li Игровые процессы в&nbsp;инвестировании
				+ddGroupItem('Урок&nbsp;2. Источники инвестиционных накоплений', activeClasses='')
					ul
						li Какие деньги направлять в&nbsp;инвестиции?
						li Как сохранять деньги для инвестиций?
						li Дополнительные источники для инвестиций.
				+ddGroupItem('Урок&nbsp;3. Стадии создания дивидендного дохода', activeClasses='')
					ul
						li Какие стадии Вам предстоит пройти до&nbsp;того момента, когда регулярных дивидендов будет хватать и&nbsp;для покупки новых акций и&nbsp;для личных трат?
						li Как поэтапно выстроить растущий пассивный доход?
				+ddGroupItem('Урок&nbsp;4. Распределение полученных дивидендов', activeClasses='')
					ul
						li Реинвестиции и&nbsp;магия сложных процентов. 
				+ddGroupItem('Урок&nbsp;5. 5&nbsp;условий роста дивидендного дохода', activeClasses='')
					ul
						li Как сделать так, чтобы доход рос в&nbsp;прогрессии?
						li Что можете сделать&nbsp;Вы сами, а&nbsp;что сделает за&nbsp;Вас рынок?
				+ddGroupItem('Урок&nbsp;6. Денежный поток в&nbsp;дивидендных инвестициях', activeClasses='')
					ul
						li Как собирать инвестиционный бизнес по&nbsp;кусочкам? 
						li Как выстраивать понятный регулярный денежный поток, получаемый рублями на&nbsp;брокерский счёт?
				+ddGroupItem('Урок&nbsp;7. Почему российский фондовый рынок?', activeClasses='')
					ul
						li Почему именно сейчас исторически важная ситуация для старта в&nbsp;дивидендных инвестициях на&nbsp;российском рынке?
						li 5&nbsp;рыночных факторов, которые будут толкать Ваши инвестиции вверх.
				+ddGroupItem('Урок&nbsp;8. Напутствие начинающему инвестору', activeClasses='')
					ul
						li Важные рекомендации для начинающего инвестора, которые обеспечат достижение Ваших долгосрочных целей
				+ddGroupItem('Урок&nbsp;9. Взгляд в&nbsp;будущее: финансовый план дивидендного рантье', activeClasses='')
					ul
						li Как выстроить финансовую свободу с&nbsp;помощью дивидендных инвестиций?
						li Этапы подготовки для перехода на&nbsp;жизнь с&nbsp;пассивного дохода.
						li Как с&nbsp;максимальной выгодой использовать шансы, которые регулярно предоставляет рынок?
				+ddGroupItem('Бонусный урок. Как работать с&nbsp;аналитикой?', activeClasses='')
					ul
						li Можно&nbsp;ли верить аналитикам?
						li Как использовать аналитические информационные источники на&nbsp;благо своих инвестиций?
				+ddGroupItem('Бонусный урок. Создание дополнительных источников для инвестиций', activeClasses='')
					ul
						li Как генерировать дополнительные накопления для инвестиций, не&nbsp;ухудшая качество своей жизни?
	// end sProgram