mixin scheduleItem(date,day)
	+b.schedule-item
		+e.date!= date
		+e.day!= day

mixin sProgram(data)
	// start sProgram
	+b.SECTION.sProgram.section#sProgram&attributes(attributes)
		.container
			p.section-subtitle Спец разработка
			+b.section-title
				h2 Программа обучения
			p Вас ждёт специальная разработка от&nbsp;Павла Крёза, Дениса Абросимова и&nbsp;команды Инфо-ДВД.
			p Уникальная программа обучения&nbsp;&mdash; постепенное пошаговое погружение в&nbsp;нескольких модулях, от&nbsp;первоначальной теории до&nbsp;командной практики
			h3 Вводный видеокурс
			p.strong Как копить пассивный доход вместо того, чтобы копить деньги?
			p 9&nbsp;видеоуроков от&nbsp;Дениса Абросимова, предназначенных для подготовки перед основным обучением
			+ddGroup
				+ddGroupItem('Урок&nbsp;1. Психология дивидендного инвестирования', activeClasses='')
					ul
						li Как копить доход вместо того, чтобы копить деньги?
						li Накопление активов, приносящих постоянный растущий доход, как неотъемлемая часть жизни.
						li Игровые процессы в&nbsp;инвестировании
				+ddGroupItem('Урок&nbsp;2. Источники инвестиционных накоплений', activeClasses='')
					ul
						li Какие деньги направлять в&nbsp;инвестиции?
						li Как сохранять деньги для инвестиций?
						li Дополнительные источники для инвестиций.
				+ddGroupItem('Урок&nbsp;3. Стадии создания дивидендного дохода', activeClasses='')
					ul
						li Какие стадии Вам предстоит пройти до&nbsp;того момента, когда регулярных дивидендов будет хватать и&nbsp;для покупки новых акций и&nbsp;для личных трат?
						li Как поэтапно выстроить растущий пассивный доход?
				+ddGroupItem('Урок&nbsp;4. Распределение полученных дивидендов', activeClasses='')
					ul
						li Реинвестиции и&nbsp;магия сложных процентов. 
				+ddGroupItem('Урок&nbsp;5. 5&nbsp;условий роста дивидендного дохода', activeClasses='')
					ul
						li Как сделать так, чтобы доход рос в&nbsp;прогрессии?
						li Что можете сделать&nbsp;Вы сами, а&nbsp;что сделает за&nbsp;Вас рынок?
				+ddGroupItem('Урок&nbsp;6. Денежный поток в&nbsp;дивидендных инвестициях', activeClasses='')
					ul
						li Как собирать инвестиционный бизнес по&nbsp;кусочкам? 
						li Как выстраивать понятный регулярный денежный поток, получаемый рублями на&nbsp;брокерский счёт?
				+ddGroupItem('Урок&nbsp;7. Почему российский фондовый рынок?', activeClasses='')
					ul
						li Почему именно сейчас исторически важная ситуация для старта в&nbsp;дивидендных инвестициях на&nbsp;российском рынке?
						li 5&nbsp;рыночных факторов, которые будут толкать Ваши инвестиции вверх.
				+ddGroupItem('Урок&nbsp;8. Напутствие начинающему инвестору', activeClasses='')
					ul
						li Важные рекомендации для начинающего инвестора, которые обеспечат достижение Ваших долгосрочных целей
				+ddGroupItem('Урок&nbsp;9. Взгляд в&nbsp;будущее: финансовый план дивидендного рантье', activeClasses='')
					ul
						li Как выстроить финансовую свободу с&nbsp;помощью дивидендных инвестиций?
						li Этапы подготовки для перехода на&nbsp;жизнь с&nbsp;пассивного дохода.
						li Как с&nbsp;максимальной выгодой использовать шансы, которые регулярно предоставляет рынок?
				+ddGroupItem('Бонусный урок. Как работать с&nbsp;аналитикой?', activeClasses='')
					ul
						li Можно&nbsp;ли верить аналитикам?
						li Как использовать аналитические информационные источники на&nbsp;благо своих инвестиций?
				+ddGroupItem('Бонусный урок. Создание дополнительных источников для инвестиций', activeClasses='')
					ul
						li Как генерировать дополнительные накопления для инвестиций, не&nbsp;ухудшая качество своей жизни?
			h3 Основная программа обучения тренинга
			p.strong Пассивный доход в&nbsp;РФ. Дивиденды
			+e.defenitions
				p <strong>Формат:</strong> видеоуроки
			+e.defenitions
				p <strong>Автор:</strong> Павел Крёз
			+ddGroup
				+ddGroupItem('Шаг&nbsp;1. Экскурс в&nbsp;фондовый рынок', activeClasses='')
					ul
						li Что такое биржа? Какие функции она выполняет?
						li Как работает фондовый рынок (рынок ценных бумаг)?
						li Как и&nbsp;для чего компания продаёт свои акции?
						li Какие обязательства несут публичные компании перед владельцами акций?
						li Регуляторы фондового рынка в&nbsp;РФ.
				+ddGroupItem('Шаг&nbsp;2. Дивиденды', activeClasses='')
					ul
						li Что такое дивиденды, когда они выплачиваются и&nbsp;как регулируются?
				+ddGroupItem('Шаг&nbsp;3. Как инвестировать?', activeClasses='')
					ul
						li Для чего нужен брокер?
						li Где открывать брокерский счёт?
						li Сравнительный анализ топ российских брокеров.
				+ddGroupItem('Шаг&nbsp;4. Принцип управления деньгами (мани-менеджмент)', activeClasses='')
					ul
						li Основные принципы управления деньгами для успешных инвестиций
						li Накопление инвестиционного портфеля. 
						li Распределение капитала в&nbsp;портфеле.
						li Для чего необходимо хранить часть капитала в&nbsp;деньгах?
				+ddGroupItem('Шаг&nbsp;5. Финансовое планирование', activeClasses='')
					ul
						li План роста пассивного дохода
						li Пенсионный план
				+ddGroupItem('Шаг&nbsp;6. Основные финансовые отчеты', activeClasses='')
					ul
						li Как узнать реальное финансовое положение публичной компании?
						li Знакомство с&nbsp;основными отчетами на&nbsp;простом и&nbsp;понятном языке.
				+ddGroupItem('Шаг 7. Мультипликаторы', activeClasses='')
					ul
						li Как оценить справедливую стоимость акции и&nbsp;сравнить с&nbsp;рыночной стоимостью?
						li Как сравнивать компании из&nbsp;одного сектора?
						li Маркеры недооценённости стоимости акций?
				+ddGroupItem('Шаг&nbsp;8. Дивидендная история компании. Ближайшие планируемые дивиденды', activeClasses='')
					ul
						li Как выплачиваются дивиденды? Дивидендный гэп. Дата отсечки.
						li Как посмотреть дивиденды компании в&nbsp;прошлом?
						li Как узнать запланированные будущие дивиденды?
				+ddGroupItem('Шаг&nbsp;9. Точки входа. Когда покупать дивидендные акции?', activeClasses='')
					ul
						li Маркеры выигрышного времени для покупки акций. 
						ul 
							li Маркеры для отдельных компаний.
							li Маркеры для состояния фондового рынка РФ.
						li Поиск точки входа.
						li Ведение списка наблюдения.
						li Регулярные доинвестиции и&nbsp;реинвестиции. Как собирать портфель в&nbsp;режиме накопления?
				+ddGroupItem('Шаг&nbsp;10. Отбор компаний для покупки в&nbsp;портфель', activeClasses='')
					ul
						li Краткий анализ финансового состояния компании.
						li Новостной фон.
						li Анализ развития компании.
				+ddGroupItem('Шаг&nbsp;11. Выход из&nbsp;позиции', activeClasses='')
					ul
						li Когда акции пора продавать из&nbsp;портфеля?
						li Ежегодный пересмотр портфеля
						li Важные сигналы, что компанию пора продавать, еще до&nbsp;обвала стоимости акций.
				+ddGroupItem('Шаг 12. Использование государственной поддержки', activeClasses='')
					ul
						li Работа с&nbsp;ИИС
				+ddGroupItem('Шаг&nbsp;13. Налоги для резидентов&nbsp;РФ', activeClasses='')
					ul
						li Как решать вопросы с&nbsp;налоговым учётом дивидендному инвестору на&nbsp;фондовом рынке&nbsp;РФ?
			h3 Онлайн-занятия. Практика на&nbsp;реальном рынке
			p.strong С&nbsp;23&nbsp;мая 2022 Вас ждут 6&nbsp;онлайн-занятий с&nbsp;Павлом Крёзом, на&nbsp;которых:
			+e.online-list.UL
				li В&nbsp;прямом эфире применим в&nbsp;реальной практике каждый из&nbsp;шагов основного обучения.
				li Разберём все возникшие вопросы участников.
				li Займёмся подбором компаний для первоначального портфеля. На&nbsp;реальном рынке покажем, как происходит процесс поиска и&nbsp;анализа компаний. Вплоть до&nbsp;вынесения решения брать или не&nbsp;брать в&nbsp;портфель. Если брать, то&nbsp;сейчас или позже?
				li Вы&nbsp;получите разъяснение важных дополнительных нюансов в&nbsp;практике дивидендных инвестиций.
				li Вы&nbsp;самостоятельно сделаете первые практические шаги на&nbsp;фондовом рынке&nbsp;РФ.
			+e.note.P Записи каждого из&nbsp;шести занятий будут доступны Вам сразу&nbsp;же после проведения прямого эфира
			h4 Расписание онлайн-занятий с&nbsp;Павлом Крёзом:
			ul.sProgram__schedule.row
				li.col-sm-6.col-md-4
					+scheduleItem('23&nbsp;мая','понедельник, в&nbsp;19-00 (МСК)')
				li.col-sm-6.col-md-4
					+scheduleItem('25&nbsp; мая','среда, в&nbsp;19-00 (МСК)')
				li.col-sm-6.col-md-4
					+scheduleItem('27&nbsp;мая','пятница, в&nbsp;19-00 (МСК)')
				li.col-sm-6.col-md-4
					+scheduleItem('30&nbsp;мая','понедельник, в&nbsp;19-00 (МСК)')
				li.col-sm-6.col-md-4
					+scheduleItem('1&nbsp;июня','среда, в&nbsp;19-00 (МСК)')
				li.col-sm-6.col-md-4
					+scheduleItem('3&nbsp;июня','пятница, в&nbsp;19-00 (МСК)')
			+ddGroup
				+ddGroupItem('Мастер группа <p>И самое интересное начнётся после 6 июня 2022. Стартует новая мастер-группа Павла Крёза, посвящённая российским дивидендным акциям</p>', activeClasses='').main-group
					ul
						li 2&nbsp;онлайн-занятия каждый месяц:
							ul
								li занятие с&nbsp;разбором вопросов участников;
								li занятие с&nbsp;поиском акций для добора в&nbsp;портфель.
						li Набор дивидендного портфеля в&nbsp;онлайн-режиме, поиск и&nbsp;анализ перспективных акций на&nbsp;онлайн-занятиях.
						li Получение новых знаний по&nbsp;анализу компаний и&nbsp;новых навыков в&nbsp;инвестициях.
						li Разъяснение новых нюансов в&nbsp;практике дивидендных инвестиций.
						li Развитие и&nbsp;обновление стратегии в&nbsp;соответствии с&nbsp;рыночными реалиями.
						li Долгосрочная поддержка и&nbsp;долгосрочное развитие Ваших инвестиций.
						li Работа в&nbsp;нон-стоп режиме. Круглый год держим руку на&nbsp;пульсе. Будьте всегда в&nbsp;курсе того, что происходит на&nbsp;российском фондовом рынке.
						li &laquo;Другое мнение&raquo; от&nbsp;Сергея Маштакова&nbsp;&mdash; аналитик и&nbsp;частный инвестор с&nbsp;большим опытом и&nbsp;запасом знаний.
						li Как решать вопросы с&nbsp;налоговым учётом дивидендному инвестору на&nbsp;фондовом рынке&nbsp;РФ?
				+ddGroupItem('Поддержка и&nbsp;забота <p>Как участник мастер-группы, Вы&nbsp;получите многостороннюю поддержку и&nbsp;заботу в&nbsp;процессе Ваших инвестиций:</p>', activeClasses='')
					ul
						li Поддержка от&nbsp;Павла Крёза, Дениса Абросимова и&nbsp;Сергея Маштакова: в&nbsp;прямом эфире на&nbsp;онлайн-занятиях, а&nbsp;также ответы текстом на&nbsp;вопросы в&nbsp;обучающей группе.
						li Поддержка от&nbsp;Службы Заботы о&nbsp;Клиентах Инфо-ДВД: помощь в&nbsp;технических вопросах, помощь по&nbsp;Инфоклубу.
						li Поддержка сообщества мастер-группы: новые эксперты, знания других участников
			+actionBlock('Уже готовы получить все в&nbsp;комплексе?','Хочу получить весь комплект прямо сейчас ', 'block')
				.descr
					p Видеокурс + основная программа обучения + 6&nbsp;онлайн-занятий + круглогодичная мастер-группа и&nbsp;многосторонняя поддержка = мощный старт в&nbsp;дивидендных инвестициях!

	// end sProgram