.form-wrap{
	position: relative;
	z-index: 4;
	&__btn{
		@extend .btn, .btn-primary;
		width: 100%;
		padding: rem(16);
	}
 	&__input-wrap{
		 margin-bottom: 1rem;
			// @extend .form-group;
			
		}
		&__input{
			// @extend .form-control;
		//  outline: 0 !important;
		 resize: none;
 	}
 	&__btn{
 		cursor: pointer;
 	}
 	label{
 		width: 100%;
 		display: block;
 	}
}


.parsley-error{
	border-image: none;
	border: 2px solid  red !important;
	color: red;
	outline: 0 !important;
	 
}
.parsley-success{
	border: 2px solid  #00d600 !important;

}
.parsley-errors-list{
	color: red;
}

// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}


.form-check{

}
.form-check-input{

}
.form-check-label{
	
}


.form-cont{
	background: #B0DEED;
	border-radius: 8px;
	@include media-breakpoint-up(md) {

		--sp: #{rem(36px)};
	}
	--sp: #{rem(16px)};
	position: relative;
	padding: var(--sp);
	margin-bottom: rem(20);
	@include media-breakpoint-down(lg){
		padding-bottom: 0;
	}
	&__title{
		color: $primary;
		@include rfs(30px);
		font-weight: bold;
		line-height: 130%;
		flex-grow: 1;
	}
	&__txt{
		font-size: rem(16);
	}
	&__title,
	&__txt{
		max-width: 300px;
	}
	&__col{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.form-wrap{
		@include media-breakpoint-up(md){

			width: 302px;
			margin-top: 0;
		}
		margin-top: 1rem;
	}
 
		picture{
			@include media-breakpoint-up(lg){

				img{ 
					position: absolute;
					bottom: 0;
					right: var(--sp); 
				}
			}
			text-align: center;
			// position: relative;
			// z-index: 2;
			// background-blend-mode: lighten;
			// mix-blend-mode: lighten; 
	}
}