mixin sForYou(data)
	// start sForYou
	+b.SECTION.sForYou.section#sForYou&attributes(attributes)
		.container
			+b.section-title
				p Найдете себя?
				h2 Этот тренинг для Вас, если:
				
			ol
				li 
					strong Вы&nbsp;желаете зарабатывать, но&nbsp;не&nbsp;готовы рисковать своими деньгами
					p Управление рисками&nbsp;&mdash; один из&nbsp;важнейших навыков, которому&nbsp;Вы будете учиться на&nbsp;тренинге. Если Вы&nbsp;будете соблюдать правила управления рисками, которые даст Вам Яна, Вы&nbsp;никогда не&nbsp;сольете свой депозит.
				
				li 
					strong Вы&nbsp;давно интересуетесь трейдингом и&nbsp;уже даже прошли немало обучающих курсов, но&nbsp;до&nbsp;сих пор так и&nbsp;не&nbsp;научились торговать прибыльно
					p Переучиваться, конечно, сложнее, чем научиться правильным действиям с&nbsp;нуля. Но&nbsp;благодаря 5-ступенчатой программы обучения, включающей все этапы, вплоть до&nbsp;командного трейдинга с&nbsp;наставником, Вы&nbsp;сможете, наконец, освоить все секреты прибыльного трейдинга
				
				li 
					strong Вы&nbsp;абсолютный новичок и&nbsp;желаете начать зарабатывать на&nbsp;криптовалютах, чтобы в&nbsp;корне поменять свою жизнь
					p Поздравляем! Вам повезло больше всех. Вам не&nbsp;нужно будет проходить через сливы депозитов и&nbsp;множество ошибок, которые совершают начинающие трейдеры. Вы&nbsp;сразу получите нужные знания&nbsp;&mdash; только&nbsp;то, что работает и&nbsp;приносит деньги
				
				li 
					strong Вы&nbsp;опытный трейдер и&nbsp;хотите улучшить свою торговлю
					p Уверены, за&nbsp;время обучения&nbsp;Вы не&nbsp;раз получите озарение. Ведь с&nbsp;Вами будет делиться выжимкой своего опыта трейдер, получивший профессиональный опыт работы в&nbsp;инвестиционном фонде&nbsp;&mdash; в&nbsp;среде, когда не&nbsp;имеешь права на&nbsp;ошибки
				
				li 
					strong Вы&nbsp;не&nbsp;готовы тратить годы своей жизни и&nbsp;кучу денег на&nbsp;ошибки и&nbsp;поиски работающих методик в&nbsp;трейдинге
					p Здесь Вы&nbsp;получите в&nbsp;сжатом виде необходимый и&nbsp;достаточный объем знаний, который позволит Вам зарабатывать при любых обстоятельствах
				
				li 
					strong Вы&nbsp;не&nbsp;хотите причислять себя ни&nbsp;к&nbsp;какой группе. Вы&nbsp;просто хотите заработать миллион на&nbsp;криптовалютах.
					p Правильная цель. Ради этого и&nbsp;нужен трейдинг. Ради денег. Именно ради этого Вам и&nbsp;нужен тренинг Яны Мусийко. А&nbsp;со&nbsp;всем остальным в&nbsp;своей жизни&nbsp;Вы разберетесь самостоятельно, мы&nbsp;знаем
			+e.footer.text-center
				.h5 Действительно, зачем лишние слова и раздумья?
				br
				.h3 Всего один шаг отделяет Вас сейчас от старта в прибыльном трейдинге криптовалютами
				.h5.text-secondary Так сделайте его!
	// end sForYou