mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		.container
			+b.section-title.text-center
				p.text-body Как в реальности зарабатывают деньги трейдеры-профессионалы?
				.small.mb-4 Ответить на этот вопрос может только трейдер, у которого есть опыт работы в профессиональной трейдерской организации.
				h2 Знакомьтесь, Яна Мусийко:
				
			+e.row.row
				+e.col--start.col
					p #[strong Частный трейдер], квалифицированный инвестор, имеет высшее финансовое образование
					p #[strong 22 года опыта в сфере финансов.] 14 лет руководила отделением банка и собственным бизнесом в банковской сфере
					p #[strong Имеет более 10 лет опыта торговли] как на личных счетах, так и в командном трейдинге: на криптовалютах, американском и российском рынках, Форексе

				.col-sm-auto
					+pic("author.png").res-i
				+e.col--end.col.text-end
					p #[strong 4&nbsp;года проработала в&nbsp;закрытом инвестиционном фонде.] Занималась линейным и&nbsp;алгоритмическим трейдингом, руководила группой трейдеров
					p #[strong Вложила более миллиона рублей в&nbsp;собственное обучение трейдингу] и&nbsp;продолжает обучаться у&nbsp;топовых управляющих трейдеров
					p
						+img("img/svg/boy.svg")
						span.d-block Мама двоих детей
			+e.block
				+e.text.text-white
					.h3 Для многих частных трейдеров трейдинг напоминает танцы с&nbsp;бубном.
					p Благодаря опыту работы в&nbsp;инвестиционном фонде, для Яны трейдинг&nbsp;&mdash; это предсказуемый и&nbsp;понятный источник дохода. <br> Когда трейдинг становится профессией, в&nbsp;нем нет места для бубнов и&nbsp;шаманства. В&nbsp;нем остается только четкий набор действий и&nbsp;понимание каждого шага
					+e.img-wrap
						+pic("block-author.png")
						+img("img/@2x/block-author-text.png").text
			+e.label
				.row
					.col-md-auto
						+img("img/label-img.png")
					.col Помимо профессии трейдинга, Яна закончила Академию Целительства. Для нее важно экологично зарабатывать. Она также помогает своим ученикам успешно совмещать трейдинг с&nbsp;личностным развитием и&nbsp;духовной составляющей.
	// end sAuthor