mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.section-title
				h2 Часто задаваемые вопросы
			+ddGroup
				+ddGroupItem('Что нужно для начала обучения?', activeClasses='')
					p Для участия в&nbsp;обучении достаточно иметь компьютер с&nbsp;доступом в&nbsp;Интернет. Обучение будет проходить через браузер (лучше всего подойдет Google Chrome), никаких дополнительных программ заранее устанавливать не&nbsp;требуется
				+ddGroupItem('Какой уровень подготовки должен быть у&nbsp;слушателя?', activeClasses='')
					p Подготовка в&nbsp;сфере инвестиций не&nbsp;нужна, так как тренинг рассчитан на&nbsp;обучение с&nbsp;нуля. От&nbsp;Вас требуется общая компьютерная грамотность: умение пользоваться браузером, электронной почтой, просматривать видео, скачивать и&nbsp;устанавливать программы, регистрироваться на&nbsp;сайтах и&nbsp;пользоваться мобильными приложениями.
				+ddGroupItem('Какой минимальный депозит необходим для обучения?', activeClasses='')
					p Для старта достаточно от&nbsp;3000 рублей с&nbsp;дальнейшими регулярными инвестициями любыми комфортными для Вас суммами
				+ddGroupItem('Сколько времени мне необходимо будет тратить на&nbsp;работу по&nbsp;Стратегии?', activeClasses='')
					p Для регулярного обновления и&nbsp;пополнения дивидендного портфеля Вам будет достаточно 1-2 часов в&nbsp;месяц. Ещё 2&nbsp;часа в&nbsp;месяц Вам понадобятся для посещения регулярных занятий мастер-группы
				+ddGroupItem('Какие дополнительные расходы потребуются во&nbsp;время обучения?', activeClasses='')
					p Помимо самих инвестиций, никаких. Покупать платные программы для анализа и&nbsp;т.&nbsp;п.&nbsp;не&nbsp;требуется. Всё, что нужно, мы&nbsp;дадим Вам во&nbsp;время обучения бесплатно
				+ddGroupItem('Могу&nbsp;ли я&nbsp;участвовать в&nbsp;обучении, если я&nbsp;не&nbsp;гражданин&nbsp;РФ?', activeClasses='')
					p Вы&nbsp;можете участвовать в&nbsp;обучении, но&nbsp;сначала&nbsp;Вы должны самостоятельно решить вопрос с&nbsp;брокерским доступом к&nbsp;фондовой секции Московской Биржи
			+b.info-dvd
				+e.title Максимальный уровень доверия от&nbsp;Инфо-ДВД
				+e.row.row
					.col-4
						+img('img/dvdinfo-img.png')
					.col-8
						p Издательство Инфо-ДВД в&nbsp;лице основателя Издательства Анатолия Белоусова, директора Издательства Никиты Королёва и&nbsp;топ-менеджера Издательства Дениса Абросимова присваивает онлайн-тренингу Павла Крёза &laquo;Трейдинг акциями рынка ОТС&raquo; &laquo;Зеленый уровень доверия&raquo;.
						p.strong &laquo;Зеленый уровень доверия&raquo;&nbsp;&mdash; максимальная надежность
				p.small Это значит, что тема данного курса не&nbsp;вызывает ни&nbsp;малейших этических нареканий со&nbsp;стороны редколлегии Инфо-ДВД, а&nbsp;вероятность положительного результата от&nbsp;обучения/применения данных знаний, методик, программ (при неукоснительном соблюдении всех инструкций автора) близка к&nbsp;100%.
	// end sFAQ