// start .sFAQ
.sFAQ {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	.dd-group{
		margin-bottom: rem(50);
		color: #1E1E1E;
		&__item {
			padding-top: rem(40);
			border-bottom:1px solid rgba(#314F9C, .2);
			&:first-child {
				border-top:1px solid rgba(#314F9C, .2);
			}
			&.active .dd-group__head:after {
				transform: rotate(180deg);
			}
		}
		&__head {
			position: relative;
			padding-bottom: rem(40);
			font-weight: 700;
			font-size: rem(30);
			&::after {
				position: absolute;
				right: 0;
				content: url('../img/arrow-up.svg');
				transition: transform .3s ease-in-out;
			}
		}
		&__content {
			padding-bottom: rem(40);
			&:not(.active) {
				display: none;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sFAQ

.info-dvd {
	padding: rem(56) rem(72) rem(60);
	background: linear-gradient(332.05deg, rgba(199, 208, 234, 0.37) 19.87%, rgba(0, 117, 255, 0.04) 92.7%);
	border-radius: 8px;
	color: #1E1E1E;
	&__title {
		margin-bottom: rem(65);
		font-weight: 900;
		font-size: rem(30);
		line-height: 96.3%;
		text-transform: uppercase;
		color: #1E1E1E;
		text-align: center;
		@include media-breakpoint-up(lg) {
			font-size: rem(70);
			text-align: left;
		}
		@include media-breakpoint-up(sm) {
			font-size: rem(40);
		}
	}
	// &__row {
	// 	p {
	// 		margin-bottom: ;
	// 	}
	// }
	.strong {
		font-weight: 700;
		font-size: rem(24);
		line-height: 140%;
		color: #2D8B7D;
	}
	.small {
		font-size: 16px;
		margin-bottom: 0;
	}
}