mixin sEarnMoney(data)
	// start sEarnMoney
	+b.SECTION.sEarnMoney.section#sEarnMoney&attributes(attributes)
		.container
			+b.section-title
				.row
					.col
						h2 На&nbsp;чем и&nbsp;как&nbsp;Вы будете зарабатывать деньги?
					.col-auto.d-none.d-xl-block
						+pic("sEarnMoney.png")
			mixin item(t)
				+e.item
					.row
						+e.col.col-sm-4.pb-3!= t
						.col
							block
			+item(`Инструменты`)
				ul
					li криптовалютные пары;
					li фьючерсы на криптовалюты;
					li любые другие инструменты и рынки
				small Вы также сможете применять полученную стратегию торговли на фьючерсах Московской Биржи, на Форексе и других волатильных инструментах

			+item(`Стратегия`)
				p Технический и графический анализ, основанный на понимании механики рынка
			+item(`Таймфрейм`)
				p В&nbsp;зависимости от&nbsp;Вашего темперамента и&nbsp;загруженности, таймфрейм&nbsp;Вы выберете самостоятельно. От&nbsp;5- и&nbsp;30-минутного для тех, кто может следить за&nbsp;торговой сессией. До&nbsp;дневного для тех, кто занят основной работой и&nbsp;может проверять графики только пару раз в&nbsp;день
			+item(`Индикаторы`)
				p Только свечной график и&nbsp;объемы. Никаких технических индикаторов в&nbsp;стратегии не&nbsp;используется
			+item(`Принятие решений`)
				ul
					li логика действий крупного игрока;
					li уровни и зоны интереса;
					li анализ трендов;
					li графические и свечные паттерны с вероятностью отработки от 70%;
					li фильтрация ложных сигналов, повышение вероятности прибыльной сделки свыше 80%.

			+e.block
				.row
					.col
						h3 Что это даст Вам в итоге?
						.h5 В первую очередь, Ваше спокойствие и хладнокровие в процессе торговли.
						p Ведь, когда Вы понимаете, что происходит, Вы не переживаете. Вы точно знаете, что будет дальше.
						p Как следствие, Вы не теряете деньги на ошибках и суете, как это делают 95% трейдеров на рынке.
							br
							| Вы спокойно находите нужную Вам ситуацию среди всех доступных для торговли криптовалют, заходите в сделку и берете свои деньги.
							br
							| И нервы целы, и кошелек толстеет. Именно так и зарабатывают деньги профессиональные трейдеры.
					+e.img-wrap-col.col-auto
						+pic("girl.png")
			.text-center
				a.btn.btn-primary(href="#sAccess") Хочу научиться зарабатывать в&nbsp;трейдинге, как профессионал
	// end sEarnMoney