// start .sHowMuch
.sHowMuch {
	// --sPT: #{rem()};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}



	&__img-wrap {
		position: relative;
		img {
			@include media-breakpoint-up(xl) {
				position: absolute;
				left: -30%;
				top: -20%;
			}
			@include media-breakpoint-down(lg) {
				position: relative;
				left: -15%;
			}
			@include media-breakpoint-down(md) {
				position: relative;
				left: -45%;
			}
		}
	}
	h3 {
		margin-bottom: rem(72);
	}
	&__slider {
		margin-bottom: rem(43);
	}
	.swiper-wrapper {
		margin-bottom: rem(20);
		align-items: center;
	}
	&__slide-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		width: auto;
		height: 100%;
		img {
			max-width: rem(700);
			// box-shadow: 0px 63px 73px -32px rgba(150, 195, 255, 0.36), 0px 94px 63px -51px rgba(0, 0, 0, 0.27);
			border-radius: 20px;
		}
	}
	.swiper-button-hand {
		background-color: $blue;
		color: $white;
	}
	.swiper-button-hand,
	.swiper-button-hand {
		position: absolute;
		top: -22%;
		display: flex;
		align-items:center;
		justify-content: center;
		// width: 36px;
		// height: 36px;
		border-radius: 50%;
		border: none;
		background-color: #fff;
		.icon {
			stroke: $success;
			fill: none;
			font-size: 22px;
		}
	}
	.swiper-button-prev {
		@include media-breakpoint-up(xl) {
			
			left: 6%;
		}
		.icon {
			transform: translateX(-2px);
		}
	}
	.swiper-button-next {
		@include media-breakpoint-up(xl) {
		right: 6%;
		}
		.icon {
			transform: rotate(180deg) translateX(-2px);
		}
	}
	&__program {
		padding-top: rem(76);
		--bs-gutter-y: #{rem(40px)};
		p {
			font-size: 16px;
			&::before {
				content: url('../img/knowing-icon.png');
				position: absolute;
				top: -45px;
				left: 18px;
				@include media-breakpoint-up(lg) {
					top: -65px;
				}
			}
		}
		ul {
			padding: 0;
   		 margin-left: 20px;
			// list-style-image: url('../img/practicum-marker.svg');
			font-size: 12px;
			li::marker {
				color:$cyan;
			}
		}
	}
	&__img-wrap2{
		height: 118px;
		display: flex;
		// flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		// justify-content: flex-end;
	}
	&__row{
		text-align: center;
		font-weight: 500;
		font-size: 16px;
		justify-content: center;
		line-height: 170%;
		// align-items: flex-end;
		// justify-content: flex-end;
		/* or 27px */

		text-align: center;

		/* 6 */

		color: #6F7C81;

		p{
			margin-top: rem(74);
			max-width: rem(314);
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__col{
		margin-bottom: 50px;
	}
	.section-footer{
		&__btn{

			margin-bottom: rem(-23px);
		}
		.small{
			font-weight: 500;
			margin-bottom: 1rem;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sHowMuch