mixin sDividends(data)
	// start sDividends
	+b.SECTION.sDividends.section#sDividends&attributes(attributes)
		.container
			p.section-subtitle 2022 год на&nbsp;фондовом рынке&nbsp;РФ войдёт в&nbsp;историю.
			+b.section-title
				h2 Почему сегодня дивидендные инвестиции&nbsp;&mdash; это мегаактуально?
			+e.UL.advantage-list
				li.row
					.col-3.text-end
						+icon('dividends-arrow')
					.col-9
						p <span>Остановлена выкачка денег из&nbsp;РФ за&nbsp;рубеж,</span> все инвестиции остаются внутри страны и&nbsp;способствуют развитию экономики.
				li.row
					.col-3.text-end
						+icon('dividends-arrow')
					.col-9
						p <span>Действуют серьёзные государственные программы для поддержки как фондового рынка, так и&nbsp;инвесторов.</span> Программа выкупа акций государством&nbsp;&mdash; одна из&nbsp;них.
				li.row
					.col-3.text-end
						+icon('dividends-arrow')
					.col-9
						p <span>Исторический момент в&nbsp;стоимости акций.</span>  Российский фондовый рынок глобально неодоценён. Акции очень сильно недооценены. В&nbsp;большинстве случаев суммарные активы компаний намного больше, чем стоимость общего количества их&nbsp;акций. Здесь нужно разъяснить. Акции&nbsp;&mdash; это имущество, доля в&nbsp;бизнесе публичной компании. Так вот сейчас на&nbsp;фондовом рынке&nbsp;РФ можно приобрести долю в&nbsp;бизнесе в&nbsp;несколько раз дешевле реальной стоимости этого имущества.
				li.row
					.col-3.text-end
						+icon('dividends-arrow')
					.col-9
						p <span>Сохраните свои деньги от&nbsp;обесценивания.</span> Акции стабильных компаний, которые платят дивиденды&nbsp;&mdash; это одна из&nbsp;лучших возможностей уберечь свои накопления от&nbsp;инфляции. Сам бизнес, его имущество будет только дорожать вместе с&nbsp;инфляцией, вслед за&nbsp;ним будет подтягиваться и&nbsp;стоимость акций, а&nbsp;со&nbsp;временем и&nbsp;размер дивидендов
				li.row
					.col-3.text-end
						+icon('dividends-arrow')
					.col-9
						p <span>Размеры дивидендов российских компаний находятся на&nbsp;историческом пике</span> и&nbsp;в&nbsp;десятки раз превышают размеры дивидендов американских компаний
			.active-text
				p В&nbsp;долгосрочной перспективе экономике&nbsp;РФ предстоит длинный глобальный рост со&nbsp;всеми вытекающими последствиями для инвесторов, начавших создавать свои дивидендные портфели в&nbsp;поворотный 2022 год
				+img('img/dividends-active-text.png')
			.action-block
				p Используйте шанс присоединиться к&nbsp;тренду в&nbsp;момент его зарождения!
				+e(href="#").btn.btn.btn-primary Хочу сегодня начать создавать дивидендный портфель
	// end sDividends