// start .sDividends
.sDividends {
	h2 {
		max-width: 1085px;
	}
	&__advantage-list {
		list-style-type: none;
		.icon {
			padding-right: rem(27);
			max-width: 143px;
			stroke: $blue;
		}
		li {
			margin-bottom: rem(25);
		}
		span {
			font-weight: 900;
		}
	}

	.active-text {
		position: relative;
		margin-bottom: 56px;
		p {
			max-width: 780px;
		}
		img {
			position: absolute;
			right: -60px;
			bottom: -30px;
		}
	}
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sDividends