mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		.container
			+b.section-title
				h2 Что конкретно мы будем делать, чтобы построить постоянный растущий доход?
			p.h3 Сегодня Вы&nbsp;можете присоединиться к&nbsp;команде, которая:
			+e.active-row.row
				.col-lg-6
					.active-text В&nbsp;круглогодичном режиме анализирует российские публичные компании, выплачивающие дивиденды. Экспресс-анализ финансов, анализ новостного фона, анализ прошлых и&nbsp;текущих дивидендо
				.col-lg-6
					.active-text Проводит практику поиска потенциально выгодных инвестиционных идей на&nbsp;российском рынке регулярно, на&nbsp;онлайн-встречах и&nbsp;с&nbsp;помощью мастер-группы в&nbsp;Инфоклубе
			p.h3 С&nbsp;помощью такой командной работы&nbsp;мы:
			ul.row
				li.col-sm-6.col-md-3
					+img('img/team-icon-1.png')
					p Собираем первоначальный портфель дивидендных акций из&nbsp;самых надежных российских компаний, чтобы разместить в&nbsp;них свои имеющиеся накопления
				li.col-sm-6.col-md-3
					+img('img/team-icon-2.png')
					p Раз в&nbsp;месяц проводим отбор самых интересных на&nbsp;сегодня дивидендных акций для докупки в&nbsp;портфель, чтобы продолжать накопление и&nbsp;реинвестировать уже полученные дивиденды
				li.col-sm-6.col-md-3
					+img('img/team-icon-3.png')
					p Мониторим общую рыночную ситуацию, чтобы не&nbsp;пропустить удачные моменты для докупки акций &laquo;по&nbsp;ценам распродажи&raquo;.
				li.col-sm-6.col-md-3
					+img('img/team-icon-4.png')
					p Периодически проводим анализ компаний в&nbsp;портфеле и&nbsp;отслеживаем их&nbsp;финансовое состояние, чтобы не&nbsp;терять капитал в&nbsp;убыточных акциях
			+actionBlock('Двери в команду открыты, заходите!','Присоединиться к сообществу дивидендных инвесторов ')
	// end sTeam