// start .sTeam
.sTeam {
		--sPT:  #{rem(70)};
		// --sPB: ;
	--sTPB: #{rem(56)};
	h2 {
		line-height: 102.3%;
	}
	.active-text {
		padding: rem(54) rem(74);
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		color: #1E1E1E;
	}

	.h3 {
		margin-bottom: rem(49);
	}
	&__active-row {
		--bs-gutter-y: #{rem(20)};
		margin-bottom: rem(88);
	}
	.active-text {
		height: 100%;
	}
	ul {
		--bs-gutter-y: #{rem(20)};
		padding-top: rem(33);
		margin-bottom: rem(42);
		list-style-type: none;
		img {
			margin-bottom: rem(44);
		}
		p {
			font-size: 16px;
			line-height: 160%;
		}
	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sTeam