mixin sEasy(data)
	// start sEasy
	+b.SECTION.sEasy.section.bg#sEasy&attributes(attributes)
		.container
			+b.section-title
				h2 Трейдинг на&nbsp;профессиональном уровне&nbsp;&mdash; это легко!
				p Как изменится Ваш трейдинг, если&nbsp;Вы будете совершенно ясно понимать, что именно сейчас происходит на&nbsp;рынке?

			+e.row.row
				mixin item(t,p)
					+e.col.col-xl-4 
						//- +e.item
						+e.block!= t
						+e.block--body!= p
				+item(`Когда Вы&nbsp;не&nbsp;распыляетесь на&nbsp;десятки сделок, а&nbsp;потом хватаетесь за&nbsp;голову от&nbsp;полученного убытка.`,`А&nbsp;вместо этого точно знаете, какая ситуация принесет Вам денег и&nbsp;спокойно следуете выверенной стратегии.`)

				+item(`Когда Вы&nbsp;не&nbsp;забиваете график десятками индикаторов, в&nbsp;которых черт ногу сломит.`,`А&nbsp;вместо этого видите на&nbsp;чистом свечном  графике нужные  паттерны, позволяющие спрогнозировать дальнейшее движение цены.`)

				+item(`Когда Вы&nbsp;не&nbsp;морочите голову секретными секретами, скрытыми сигналами и&nbsp;разгадками намерений рыночной толпы.`,`А&nbsp;вместо этого точно знаете вероятность получения прибыли в&nbsp;той или иной ситуации. А&nbsp;далее просто входите в&nbsp;сделку, если вероятность Вас устраивает, и&nbsp;забираете свои деньги.`)

			+e.text И пока 95% трейдеров продолжают искать Грааль, теряя свои деньги, Вы можете прямо сейчас получить перед ними решающее преимущество

			+b.section-footer 
				+e.btn(href="#sAccess") Научитесь зарабатывать в трейдинге на профессиональном уровне
	// end sEasy