mixin sRussianStocks(data)
	// start sRussianStocks
	+b.SECTION.sRussianStocks.section#sRussianStocks&attributes(attributes)
		.container
			p.section-subtitle Почему Московская Биржа?
			+b.section-title
				h2 Почему именно российские дивидендные акции?
			.row
				.col-md-8
					ul
						li Сразу исключаем геополитические риски для россиян.
						li Строгая регуляция, надёжный рынок.
						li Долгосрочный потенциал мощного рыночного роста.
						li Выплаты дивидендов регулируются законом.
						li Размеры дивидендов российских компаний показывают максимальные результаты, как в&nbsp;мире, так и&nbsp;в&nbsp;истории.
						li Легально, юридически прозрачно, налоговый вопрос полностью решает брокер.
						li Дополнительные инвестиционные стимулы от&nbsp;государства: налоговые вычеты, обязательства для компаний с&nbsp;госкапиталом выплачивать дивиденды, программы выкупа акций и&nbsp;т.д.
						li Держать деньги в&nbsp;акциях безопаснее, чем деньгами на&nbsp;банковском счете. Банк может закрыться и&nbsp;счет будет потерян вместе с&nbsp;деньгами. А&nbsp;если исчезнет брокер, то&nbsp;Вы просто переведёте свои акции к&nbsp;другому брокеру. 
						li Деньги в&nbsp;кризисные времена сильно обесцениваются, а&nbsp;стоимость акций растёт вместе с&nbsp;ростом стоимости компаний.
						li Исторический момент для выгодного старта. Рекордно низкие цены на&nbsp;акции.
				.col-md-4
					+e.img-wrap
						+img('img/russian-stocs.jpg')
	// end sRussianStocks