mixin sRussianStocks(data)
	// start sRussianStocks
	+b.SECTION.sRussianStocks.section#sRussianStocks&attributes(attributes)
		.container
			p.section-subtitle Почему Московская Биржа?
			+b.section-title.text-center
				h2 Почему именно российские дивидендные акции?				
			.row
				.col-8
					+e.list.UL
						+e.item.li Сразу исключаем геополитические риски для россиян.
						+e.item.li Строгая регуляция, надёжный рынок.
						+e.item.li Долгосрочный потенциал мощного рыночного роста.
						+e.item.li Выплаты дивидендов регулируются законом.
						+e.item.li Размеры дивидендов российских компаний показывают максимальные результаты, как в&nbsp;мире, так и&nbsp;в&nbsp;истории.
						+e.item.li Легально, юридически прозрачно, налоговый вопрос полностью решает брокер.
						+e.item.li Дополнительные инвестиционные стимулы от&nbsp;государства: налоговые вычеты, обязательства для компаний с&nbsp;госкапиталом выплачивать дивиденды, программы выкупа акций и&nbsp;т.д.
						+e.item.li Держать деньги в&nbsp;акциях безопаснее, чем деньгами на&nbsp;банковском счете. Банк может закрыться и&nbsp;счет будет потерян вместе с&nbsp;деньгами. А&nbsp;если исчезнет брокер, то&nbsp;Вы просто переведёте свои акции к&nbsp;другому брокеру. 
						+e.item.li Деньги в&nbsp;кризисные времена сильно обесцениваются, а&nbsp;стоимость акций растёт вместе с&nbsp;ростом стоимости компаний.
						+e.item.li Исторический момент для выгодного старта. Рекордно низкие цены на&nbsp;акции.
				.col-4
					+img('img/russian-stocs.jpg')
	// end sRussianStocks